<div class="document-info">
    <a (click)="backClicked()" class="align-items-baseline bg-white btn d-inline-flex justify-content-center">
        <i class="fas fa-arrow-left mr-2"></i>
        {{ 'FEbtn.back' | translate }}
    </a>
    <h5 class="my-3">
        {{ documentInfo.data.name }}
    </h5>
    <div class="document-info-detail">
        <p *ngIf="documentInfo.data.description" class="p-3">
            {{ documentInfo.data.description }}
        </p>
        <div [innerHTML]="documentInfo.data.detail | sanitizeHtml"></div>
    </div>
</div>