.document-info {
    .btn {
        padding: 8px 12px;
        border: 1px solid #e5e5e5;
        color: #757575;
        transition: 0.25s ease-out;

        &:hover {
            background-color: #f7f7f7 !important;
        }
    }

    &-detail {
        > p {
            background-color: #f6f6f6;
        }
    }
}
