<div *ngIf="fm">
    <form class="chips-form-bootrap"
          [formGroup]="fm"
          (submit)='$event.stopPropagation()'>
        <div class="card w-100 mb-3">
            <div class="card-header">
                <strong>{{ ((id && id !=0)?'documents.update':'documents.add') | translate : {name : fm.value.name}
                    }}</strong>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label>{{ 'documents.name' | translate }}<span class="ml-2 text-danger">*</span></label>
                    <input type="text"
                           class="form-control"
                           name="name"
                           formControlName="name"
                           autocomplete="off"
                           placeholder="{{ 'documents.name' | translate }}"
                           required>
                    <small style="color:red"
                           *ngIf="required || fm.get('name').invalid && fm.get('name').touched">{{'message.required'|translate}}</small>
                </div>
                <div class="form-group">
                    <label>{{ 'documents.description' | translate }}</label>
                    <textarea type="text"
                              class="form-control"
                              name="description"
                              rows="3"
                              formControlName="description"
                              placeholder="{{ 'documents.description' | translate }}"></textarea>
                </div>
                <div class="form-group">
                    <label for="keywords">{{ 'lblKeyword' | translate }}</label>
                    <input type="text"
                           (keyup)="tags._keyup($event)"
                           class="form-control"
                           name="keywords"
                           id="keywords"
                           placeholder="{{ 'placeholderKeyword' | translate }}"
                           autocomplete="off">
                    <div class="keywords mt-3"
                         *ngIf="tags.dataList">
                        <button type="button"
                                class="btn btn-info mr-1 mt-1"
                                *ngFor="let item of tags.dataList">{{item}}
                            <span class="fas fa-times-circle"
                                  (click)="tags._remove(item)"></span>
                        </button>
                    </div>
                </div>
                <div class="form-group">
                    <label for="detail">{{'documents.detail' | translate }}</label>
                    <ckeditor id="detail"
                              [config]="globals.configCKeditor"
                              data="detail"
                              formControlName="detail">
                    </ckeditor>
                </div>
            </div>
            <div class="card-footer">
                <div class="float-left">
                    <label class="lable-switch pull-left">
                        <div class="switch">
                            <input formControlName="status"
                                   type="checkbox"
                                   name="status">
                            <span class="lever"></span>
                        </div>
                        <span ng-bind="lang.lbl_status_on"
                              class="ng-binding">{{ (fm.value.status == 1 ? 'status.on' : 'status.off') | translate
                            }}</span>
                    </label>
                </div>
                <button type="button"
                        (click)="onSubmit()"
                        [disabled]="!fm.valid"
                        class="btn btn-success float-right">
                    {{'btn.save' | translate }}</button>
                <button type="button"
                        [routerLink]="[(id && id !=0)?'../../get-list':'../get-list']"
                        class="btn btn-primary float-right mr-2">{{'btn.back' | translate }}</button>
            </div>
        </div>
    </form>
</div>