<div *ngIf="id">
    <form [formGroup]="fm"
          (submit)='$event.stopPropagation()'
          class="row justify-content-center">
        <div class="col-12 col-md-6">
            <div class="card">
                <div class="card-header">
                    <strong>{{'user.titleChangePassword' | translate : {name : item.name } }}</strong>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="password">{{ 'user.password' | translate }} <span
                                  class="text-danger pl-2">*</span></label>
                        <div class="position-relative">
                            <input [type]="type"
                                   class="form-control"
                                   name="password"
                                   formControlName="password"
                                   id="password"
                                   placeholder="{{ 'user.password' | translate }}">
                            <span (click)="type = type == 'password' ? 'text' : 'password'"
                                  id="basic-addon2">
                                <i class="fa"
                                   [ngClass]="{'fa-eye': type=='password', 'fa-eye-slash': type=='text'}"
                                   style="position: absolute;top:10px; right: 17px; z-index: 99;cursor: pointer;"
                                   aria-hidden="true"></i>
                            </span>
                        </div>
                        <small *ngIf="!fm.get('password').valid && fm.get('password').touched"
                               style="color:red">
                            {{'message.minLength' | translate : {num: 8} }}</small>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="button"
                            (click)="onSubmit()"
                            [disabled]="!fm.valid"
                            class="btn btn-success float-md-right mr-2">{{'btn.save' | translate }}</button>
                    <button type="button"
                            [routerLink]="['../../get-list']"
                            class="btn btn-primary float-md-right mr-md-2">{{'btn.back' | translate }}</button>
                </div>
            </div>
        </div>
    </form>
</div>