<form class="p-4 px-md-5 small clearfix"
	  [formGroup]="fm"
	  *ngIf="fm"
	  (submit)='$event.stopPropagation()'
	  (keydown.enter)="handleEnterKeyPress($event)">
	<button class="btn-modal--close border-0 btn btn-lg btn-primary p-0 position-absolute rounded-circle"
			(click)="_handleCloseModal()">
		<i class="fal fa-times"></i>
	</button>
	<div class="box-img">
		<div class="box-img--size">
			<img width="100%"
				 height="100%"
				 [src]="globals.company.logo"
				 alt="HomeQ"
				 title="HomeQ" />
		</div>
	</div>
	<div class="row mt-3">
		<div class="col-6 px-2">
			<div class="form-group mb-0">
				<input type="text"
					   autocomplete="off"
					   class="form-control form-control-sm"
					   name="name"
					   formControlName="name"
					   [placeholder]="'FEContact.name' | translate" />
				<small class="text-danger"
					   *ngIf="fm.get('name').invalid && fm.get('name').touched">
					{{ "message.required" | translate }}
				</small>
			</div>
		</div>
		<div class="col-6 px-2">
			<div class="form-group mb-0">
				<input type="text"
					   autocomplete="off"
					   class="form-control form-control-sm"
					   name="phone"
					   formControlName="phone"
					   [placeholder]="'FEContact.phone' | translate"
					   minlength="10"
					   maxlength="11" />
				<small class="text-danger"
					   *ngIf="fm.get('phone').invalid && fm.get('phone').touched">
					{{ "message.phone" | translate }}
				</small>
			</div>
		</div>
	</div>
	<div class="row mt-3">
		<div class="col-6 px-2">
			<div class="form-group mb-0">
				<input type="email"
					   autocomplete="off"
					   class="form-control form-control-sm"
					   name="email"
					   formControlName="email"
					   [placeholder]="'FEContact.email' | translate" />
				<small class="text-danger"
					   *ngIf="fm.get('email').invalid && fm.get('email').touched">
					{{ "message.email" | translate }}
				</small>
			</div>
		</div>
		<div class="col-6 px-2">
			<div class="form-group mb-0"
				 style="margin-top: -6px;">
				<div class="form-check">
					<input class="form-check-input cursor-pointer"
						   type="radio"
						   id="customer"
						   formControlName="type"
						   [value]="1" />
					<label class="mb-1"
						   class="form-check-label cursor-pointer"
						   for="customer">
						{{ "FEContact.advisory" | translate }}
					</label>
				</div>
				<div class="form-check">
					<input class="form-check-input cursor-pointer"
						   type="radio"
						   id="agency"
						   formControlName="type"
						   [value]="0" />
					<label class="mb-1"
						   class="form-check-label cursor-pointer"
						   for="agency">
						{{ "FEContact.agency" | translate }}
					</label>
				</div>
			</div>
		</div>
	</div>
	<div class="row mt-3">
		<div class="col-12 px-2">
			<div class="form-group mb-0">
				<input type="text"
					   autocomplete="off"
					   class="form-control form-control-sm"
					   name="subject"
					   formControlName="subject"
					   [placeholder]="'FEContact.subject' | translate" />
				<small class="text-danger"
					   *ngIf="fm.get('subject').invalid && fm.get('subject').touched">
					{{ "message.required" | translate }}
				</small>
			</div>
		</div>
	</div>
	<div class="row mt-3">
		<div class="col-12 px-2">
			<div class="form-group mb-0">
				<textarea type="text"
						  autocomplete="off"
						  name="message"
						  rows="4"
						  formControlName="message"
						  class="form-control form-control-sm h-4"
						  [placeholder]="'FEContact.message' | translate"></textarea>
				<small class="text-danger"
					   *ngIf="fm.get('message').invalid && fm.get('message').touched">
					{{ "message.required" | translate }}
				</small>
			</div>
		</div>
	</div>
	<button type="submit"
			class="btn btn-primary btn-sm float-right mt-3"
			style="margin-right: -8px;"
			(click)="contact.addContact()">
		{{ "FEbtn.send" | translate }}
		<i class="fas fa-paper-plane ml-1"></i>
	</button>
</form>