input,
textarea {
    font-size: 13px;
}

.box-img {
    display: grid;
    place-items: center;
    &--size {
        width: 54px;
    }
}

.btn-modal--close {
    top: -16px;
    right: -16px;
    --size: 32px;
    width: var(--size);
    height: var(--size);
}
