@import "src/style/mixins";
@import "src/style/animations";

/*
 * Create
 * Name: PHAN ANH VAN
 * Date: 14/04/2021
 * Note:
 * ------------------
 * Edit
 * Name:
 * Date:
 * Note:
*/
.app-main {
    min-height: 75vh;
}
.bg-modal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.39);
}
.scroll-top {
    --width: 2.5rem;
    @include viewport-sm {
        display: none !important;
    }
    &:hover {
        background-color: var(--color) !important;
        border: 2px solid var(--color) !important;
        color: white !important;
    }
    display: none;
    z-index: 99;
    
    right: 15px;
    bottom: 65px;
    width: var(--width);
    height: var(--width);
    background-color: transparent;
    border: 2px solid var(--color);
    color: var(--color);
    cursor: pointer;
}

.social {
    --width: 2.7rem;
    --position: 3.85rem;
    z-index: 9999;
    right: var(--position);
    bottom: var(--position);
    width: 60px;
    height: 60px;
    line-height: 55px;
    font-size: 30px;
    background-color: var(--color);

    &--translate {
        transition: 0.33s;
        transform: rotate(-90deg);
    }

    @include viewport-sm {
        --position: 10px;
        bottom: calc(var(--position) * 4);
    }

    &__item {
        position: absolute;
        bottom: 0;
        right:0;
        opacity: 0;
        z-index: -1;
        span {
            font-size: 16px !important;
        }
        a {
            width: 50px;
            height: 50px;
            line-height: 50px;
            border-radius: 50%;
            font-size: 16px !important;
            color: white;
            display: block;
            background-color: var(--color);
        }

        &:first-child.social__item--active {
            animation: social-01 0.33s forwards;
        }
        &:nth-child(2).social__item--active {
            animation: social-02 0.33s forwards;
        }
        &:nth-child(3).social__item--active {
            animation: social-03 0.33s forwards;
        }
        &:last-child.social__item--active {
            animation: social-04 0.33s forwards;
        }
        &-fb {
            background-color: #3b5998 !important;
        }

        &-phone {
            background-color: #40b65d !important;
        }
    }
}
