<form class="chips-form-bootrap"
      [formGroup]="fm"
      *ngIf="fm"
      (submit)='$event.stopPropagation()'>
    <div class="card w-100 mb-3">
        <div class="card-header">
            <strong>{{ ((id && id !=0)?'contents.update':'contents.add') | translate : {name : fm.value.name}
                }}</strong>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12 col-md-6 pr-md-0">
                    <div class="form-group">
                        <label for="name">{{ 'contents.name' | translate }}<span
                                  class="ml-2 text-danger">*</span></label>
                        <input type="text"
                               (keyup)="onChangeLink($event)"
                               class="form-control"
                               name="name"
                               id="name"
                               autocomplete="off"
                               formControlName="name"
                               placeholder="{{ 'contents.name' | translate }}"
                               required>
                        <small style="color:red"
                               *ngIf="fm.get('name').invalid && fm.get('name').touched">{{'message.required'|translate}}</small>
                    </div>
                    <div class="form-group">
                        <label for="link">{{ 'lblLink' | translate }}<span class="ml-2 text-danger">*</span></label>
                        <input type="text"
                               (keyup)="link._keyup($event)"
                               [(ngModel)]="fm.value.link"
                               id="link"
                               autocomplete="off"
                               class="form-control"
                               name="link"
                               formControlName="link"
                               required
                               placeholder="{{ 'lblLink' | translate }}">
                        <small style="color:red"
                               *ngIf="fm.get('link').invalid && fm.get('link').touched">{{'message.required'|translate}}</small>
                    </div>

                    <div class="row">
                        <div class="col-md-7 col-12 pr-md-0">
                            <div class="form-group">
                                <label for="group">{{ 'lblGroup' | translate }}
                                    <span class="ml-2 text-danger">*</span></label>
                                <select name="page_id"
                                        formControlName="page_id"
                                        class="form-control"
                                        id="group"
                                        required>
                                    <option *ngFor="let item of group"
                                            [value]="item.id">
                                        {{item.name}}</option>
                                </select>
                                <small style="color:red"
                                       *ngIf="fm.get('page_id').invalid && fm.get('page_id').touched">{{'message.required'|translate}}</small>
                            </div>
                        </div>
                        <div class="col-md-5 col-12">
                            <div class="form-group">
                                <label for="orders">{{ 'lblOrders' | translate }}</label>
                                <input type="number"
                                       class="form-control"
                                       name="orders"
                                       min="0"
                                       id="orders"
                                       autocomplete="off"
                                       formControlName="orders"
                                       placeholder="{{ 'lblOrders' | translate }}">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-7 col-12 pr-md-0">
                            <div class="form-group">
                                <label for="author">{{ 'contents.source' | translate }}</label>
                                <input type="text"
                                       class="form-control"
                                       name="author"
                                       formControlName="author"
                                       id="author"
                                       autocomplete="off">
                            </div>
                        </div>
                        <div class="col-md-5 col-12">
                            <div class="form-group">
                                <label>Ngày Đăng</label>
                                <input class="form-control"
                                       #datepickerYMD="bsDatepicker"
                                       bsDatepicker
                                       formControlName="maker_date"
                                       [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <label for="image">{{ 'lblImages' | translate }} </label>
                        <div class="imagesThumb text-center"
                             *ngIf="images">
                            <div class="w-50"
                                 style="height: 80px;"
                                 *ngFor="let item of images.data ; let i = index">
                                <img [src]="item.src"
                                     *ngIf="item.type==0 || item.type==1" />
                                <span (click)="images._change($event,item)"
                                      *ngIf="item.type==0 || item.type==1"
                                      class="change">
                                    <i class="far fa-image"></i>
                                </span>
                                <span (click)="images._del(i)"
                                      *ngIf="item.type==0 || item.type==1"
                                      class="del">
                                    <i class="fas fa-times-circle"></i>
                                </span>
                                <span (click)="images._push($event)"
                                      *ngIf="item.type==2"
                                      class="add">
                                    <i class="fa fa-plus"></i>
                                </span>
                            </div>
                            <input type="file"
                                   (change)="images._onchange($event)"
                                   accept="image/png, image/jpeg, image/webp"
                                   id="image">
                        </div>
                        <div class="text-center">
                            <small class="d-inline-block">.png / .jpg (400px x 300px)</small>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="description">{{ 'contents.description' | translate }}</label>
                        <textarea type="text"
                                  class="form-control"
                                  name="description"
                                  rows="4"
                                  id="description"
                                  autocomplete="off"
                                  placeholder="{{ 'contents.description' | translate }}"
                                  formControlName="description"></textarea>
                    </div>

                </div>
                <div class="col-md-12 col-sm-12">
                    <div class="form-group">
                        <label for="keywords">{{ 'lblKeyword' | translate }}</label>
                        <input type="text"
                               (keyup)="tags._keyup($event)"
                               class="form-control"
                               name="keywords"
                               autocomplete="off"
                               placeholder="{{ 'lblKeyword' | translate }}"
                               id="keywords">
                        <div class="keywords mt-3"
                             *ngIf="tags.dataList">
                            <button type="button"
                                    class="btn btn-info mr-1 mt-1"
                                    *ngFor="let item of tags.dataList">{{item}}
                                <span class="fas fa-times-circle"
                                      (click)="tags._remove(item)"></span>
                            </button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="detail">{{'contents.detail' | translate }}</label>
                        <ckeditor id="detail"
                                  [config]="globals.configCKeditor"
                                  data="detail"
                                  formControlName="detail">
                        </ckeditor>
                    </div>
                </div>
            </div>

        </div>
        <div class="card-footer">
            <div class="float-left">
                <label class="lable-switch pull-left">
                    <div class="switch">
                        <input formControlName="status"
                               type="checkbox"
                               name="status">
                        <span class="lever"></span>
                    </div>
                    <span ng-bind="lang.lbl_status_on"
                          class="ng-binding">{{ (fm.value.status == 1 ? 'status.on' :
                        'status.off') | translate }}</span>
                </label>
            </div>
            <button type="button"
                    (click)="onSubmit()"
                    [disabled]="!fm.valid"
                    class="btn btn-success float-right">
                {{'btn.save' | translate }}</button>
            <button type="button"
                    [routerLink]="[(id && id !=0)?'../../get-list':'../get-list']"
                    class="btn btn-primary float-right mr-2">{{'btn.back' | translate }}</button>
        </div>
    </div>
</form>