<div class="py-md-5 py-4 bg-light">
    <div class="container-main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="title-page">
                        <h1>{{'FESearch.result' | translate}} "{{ value }}"</h1>
                        <span>Có
                            <span class="font-weight-bold">{{ pagination.total }}</span>
                            {{type == 4 ? "bài viết" :"Sản phẩm"}}
                        </span>
                        <span *ngIf="pagination.total > pagination.itemsPerPage">
                            <span> trên
                                <span class="font-weight-bold">
                                    {{ pagination.totalPage }}
                                </span>
                                trang
                            </span>
                            <span class="d-block d-md-inline">
                                <span class="d-none d-md-inline"> - </span>
                                Trang hiện tại:
                                <span class="font-weight-bold">
                                    {{ pagination.page }}
                                </span>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="show == -1">
    <div class="position-relative d-flex align-items-center justify-content-center pt-lg-5 pt-4 pb-lg-5 pb-4">
        <img src="../../../../assets/img/loading.gif" width="125px" height="100%" alt="HomeQ">
        <img class="position-absolute" style="opacity: 0.5;" alt="HomeQ" src="../../../../assets/img/logo.png"
            width="60">
    </div>
</div>
<div class="bg-light pb-md-5 pb-4">
    <div class="container-main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-lg-9 pr-md-0">
                    <div class="pt-md-5 pb-5 bg-white text-md-center" *ngIf="show == 0">
                        <div class="h2 result-search">{{'FESearch.notFound' | translate }} </div>
                        <p class="m-0 text-black-50" style="font-size: 1.1rem;">
                            {{ 'FESearch.tryAgain' | translate }}</p>
                    </div>
                    <div class="row m-md-0" *ngIf="show == 1">
                        <div class="px-0" [ngClass]="type == 3 ?'col-6 col-md-3' : 'col-12'"
                            style="border: 2px solid #f8f9fa;" *ngFor="let item of data">
                            <app-box-product *ngIf="type == 3" class="mb-4" [item]="item"> </app-box-product>
                            <box-content-grid *ngIf="type == 4" [item]="item"></box-content-grid>
                        </div>
                        <div class="col-12 py-4" *ngIf="pagination.total > pagination.itemsPerPage">
                            <pagination class="d-flex justify-content-center my-3" [totalItems]="pagination.total"
                                previousText="{{ 'FEbtn.previous' | translate  }}"
                                nextText="{{ 'FEbtn.next' | translate  }}" [itemsPerPage]="pagination.itemsPerPage"
                                [maxSize]="pagination.maxSize" (pageChanged)="pagination.changed($event)">
                            </pagination>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-3">
                    <div class="product-hot px-lg-3 mt-4 mt-lg-0">
                        <div class="title-border position-relative">
                            <div class="h5 font-weight-bold text-uppercase d-inline-block">
                                {{'FEProduct.productHot' | translate}}
                            </div>
                        </div>
                        <div class="row px-2 px-lg-0">
                            <div class="col-6 col-md-3 col-lg-12 mt-2 px-1 px-lg-3" *ngFor="let item of dataProduct">
                                <app-box-product [item]="item" [type]="1"></app-box-product>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>