.title-border .h5 {
    padding-right: 20px;
    z-index: 2;
    color: #cc3528;
    position: relative;
    background: #f8f9fa;
}

.title-page span {
    font-size: 17px;
}

.title-border::after {
    background: #e1e1e1 none repeat scroll 0 0;
    content: "";
    height: 1px;
    position: absolute;
    top: 48%;
    width: 100%;
    right: 0;
    z-index: 1;
}
