<div class="bg-white h-100">
    <div class="d-block d-md-none clearfix pt-3 pr-3">
        <div (click)="_handleCloseOnMobile()"
             [ngClass]="{'hamburger--open': statusOnMobile}"
             class="hamburger position-relative cursor-pointer float-right">
            <span class="d-block w-100 position-absolute"></span>
            <span class="d-block w-100 position-absolute"></span>
            <span class="d-block w-100 position-absolute"></span>
        </div>
    </div>
    <div class="d-block d-md-none">
        <div class="align-items-center d-flex mx-1 p-md-2 px-4 py-3 user"
             *ngIf="globals.CUSTOMER.check() == false">
            <div class="user-info">
                <a (click)="routerLinkUser('dang-nhap')">{{ 'FEbtn.login' | translate }}</a>
                <span class="mx-2">/</span>
                <a (click)="routerLinkUser('dang-ky')">{{ 'FEbtn.singin' | translate }}</a>
                <br />
            </div>
        </div>
        <div class="user py-2 px-4 d-flex align-items-center"
             *ngIf="globals.CUSTOMER.check() == true">
            <div class="mr-2 rounded-circle border d-inline-flex p-2"><i class="fal fa-user"></i></div>
            <div class="user-info"
                 (click)="infoUser()">
                <span>Tài khoản / <span (click)="logout()">Đăng xuất</span> </span><br />
                <span class="user-text font-weight-bold">{{ globals.CUSTOMER.get().name }}</span>

            </div>
        </div>
    </div>

    <nav class="bg-light  navbar flex-column justify-content-between h-100 p-0">
        <ul class="navbar-nav py-md-4 w-100"
            *ngIf="menu && menu.length > 0">
            <ng-template #recursiveMenu
                         let-menu>
                <li *ngFor="let item of menu; let i = index"
                    [ngClass]="{'active': itemActive == item.id}">
                    <a class="position-relative d-flex align-items-center justify-content-between"
                       href="javascript:;"
                       [ngClass]="['level-' + item.level]"
                       [ngStyle]="{'border-bottom': (i == menu.length -1 && item.level == 2) ? '1px solid #ececec' : ''}">
                        <a *ngIf="item.link_redirect && item.link_redirect !== ''"
                           [href]="item.link_redirect"
                           class="text-truncate"
                           style="text-decoration: none;">
                            <span class="px-4"
                                  [ngClass]="item.data.length > 0 && +item.level < 2 ? 'w-75' : 'w-100'">
                                {{item.name}}
                            </span>
                        </a>

                        <span class="text-truncate px-4"
                              *ngIf="!item.link_redirect || item.link_redirect === ''"
                              (click)="routerLink(item)"
                              [ngClass]="item.data.length > 0 && +item.level < 2 ? 'w-75' : 'w-100'">
                            {{item.name}}</span>

                        <i class="fal fa-angle-down px-4"
                           (click)="showItem(item)"
                           [ngClass]="{'active-arrow':  itemActive == item.id}"
                           *ngIf="item.data.length > 0 && +item.level < 2"></i>
                    </a>

                    <div class="dropdown-menu-item"
                         *ngIf="item.data && item.data.length > 0 && +item.level < 2 ">
                        <ng-container *ngTemplateOutlet="recursiveMenu; context: { $implicit: item.data }">
                        </ng-container>
                    </div>
                </li>
            </ng-template>
            <ng-container *ngTemplateOutlet="recursiveMenu; context: { $implicit: menu }">
            </ng-container>
        </ul>
    </nav>

    <div class="nav-social bg-light position-fixed bg-white">
        <nav class="nav flex-column p-3 text-center">
            <li class="nav-item nav-social-phone pt-1"
                *ngIf="('FEPhone' | translate) != 'FEPhone' && ('FEPhone' | translate) != ''">
                <a class="nav-link p-0 text-secondary"
                   [attr.href]="'tel: ' + ('FEPhone' | translate)">
                    <i class="fal fa-phone mr-2"></i>
                    <span>{{ 'FEPhone' | translate }}</span>
                </a>
            </li>
            <li class="nav-item nav-social-mail pt-1"
                *ngIf="('FEMail' | translate) != 'FEMail' && ('FEMail' | translate) != ''">
                <a class="nav-link p-0 text-secondary"
                   [attr.href]="'mailto: ' + ('FEMail' | translate)">
                    <i class="fal fa-envelope mr-2"></i>
                    <span>{{ 'FEMail' | translate }}</span>
                </a>
            </li>
        </nav>
        <hr class="m-0" />
        <nav class="nav flex-nowrap text-center p-3 ">
            <li class="nav-item flex-fill text-center"
                *ngIf="('FEHrefFacebook' | translate) != 'FEHrefFacebook' && ('FEHrefFacebook' | translate) != ''">
                <a class="nav-link p-0 text-secondary"
                   [href]="('FEHrefFacebook' | translate)"
                   target="_blank"
                   rel="noopener noreferrer">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </li>
            <li class="nav-item flex-fill text-center "
                *ngIf="('FEHrefInstagram' | translate) != 'FEHrefInstagram' && ('FEHrefInstagram' | translate) != ''">
                <a class="nav-link p-0 text-secondary"
                   [href]="('FEHrefFacebook' | translate)"
                   target="_blank"
                   rel="noopener noreferrer">
                    <i class="fab fa-instagram"></i>
                </a>
            </li>
            <li class="nav-item flex-fill text-center"
                *ngIf="('FEHrefZalo' | translate) != 'FEHrefZalo' && ('FEHrefZalo' | translate) != ''">
                <a class="nav-link p-0 text-secondary"
                   [href]="('FEHrefZalo' | translate)"
                   target="_blank"
                   rel="noopener noreferrer">
                    Zalo
                </a>
            </li>
            <li class="nav-item flex-fill text-center"
                *ngIf="('FEHrefYoutube' | translate) != 'FEHrefYoutube' && ('FEHrefYoutube' | translate) != ''">
                <a class="nav-link p-0 text-secondary"
                   [href]="('FEHrefYoutube' | translate)"
                   target="_blank"
                   rel="noopener noreferrer">
                    <i class="fab fa-youtube"></i>
                </a>
            </li>
        </nav>
    </div>
</div>