@import "src/style/mixins";

.hamburger {
    width: 1.5rem;
    height: 1.125rem;

    ~ span {
        font-size: 10px;
    }

    > span {
        left: 0;
        height: 1px;
        background-color: var(--colorText);
        opacity: 1;
        transition: 0.25s ease-in-out;

        &:nth-child(1) {
            top: 0;
        }

        &:nth-child(2) {
            top: 0.5rem;
        }

        &:nth-child(3) {
            top: 1rem;
        }
    }

    &--open > span {
        &:nth-child(1) {
            top: 0.5rem;
            transform: rotate(135deg);
        }

        &:nth-child(2) {
            opacity: 0;
            left: -1.5rem;
        }

        &:nth-child(3) {
            top: 0.5rem;
            transform: rotate(-135deg);
        }
    }
}

.navbar {
    .dropdown-menu-item {
        display: none;
    }
    .active .dropdown-menu-item {
        display: block !important;
    }
    .active .level-1 span {
        color: var(--color) !important;
    }
    .active a {
        border-left-color: var(--color);
    }
    &-nav {
        height: 87.5%;
        @include viewport-sm {
            height: 66%;
        }
        overflow-y: scroll;
        &::-webkit-scrollbar {
            display: none;
        }
    }
}

.nav-social {
    bottom: 0;
    width: var(--width);
    @include viewport-sm {
        width: 100%;
    }
    &-mail,
    &-phone {
        font-size: 0.875rem;
    }
}

ul {
    li {
        & > a {
            --border: #ececec;
            color: var(--colorText);
            cursor: pointer;
            &.level-1 {
                padding: 0.75rem 0;
                border-bottom: 1px solid var(--border);
                border-left: 4px solid transparent;
                text-transform: uppercase;
                font-size: 0.9375rem;
                text-decoration: none;
                > i {
                    font-size: 1.5rem;
                    transition: 0.25s ease-in-out;

                    &.active-arrow {
                        transform: rotate(-180deg);
                    }
                }
                &:hover {
                    background-color: var(--border);
                }
            }
            &.level-2 {
                padding: 0.6rem 0.25rem;
                font-size: 0.875rem;
                transition: 0.33s;
                text-decoration: none;
                &::after {
                    content: "";
                    position: absolute;
                    left: 0.4rem;
                    width: 0;
                    height: 1px;
                    background-color: var(--color);
                }
                &:hover {
                    &::after {
                        width: 1rem;
                    }
                    transform: translateX(1rem);
                }
            }
        }
    }
}

.user {
    &-avatar {
        --size: 2.1875rem;
        width: var(--size);
        height: var(--size);
        line-height: var(--size);
    }
    &-info {
        font-size: 0.875rem;
    }
}
