.app-footer {
    position        : fixed;
    bottom          : 0;
    left            : 200px;
    width           : calc(100% - 200px);
    z-index         : 4;
    background-color: whitesmoke;
    border-top      : 0px solid #c2cfd6;
}

footer a {
    color: #f7941e;
}

.app-footer {
    min-height : 20px;
    line-height: 20px;
}