<figure class="box align-items-center d-flex p-2 mb-0">
	<div class="box__img">
		<img [src]="item.images"
			 [alt]="item.name"
			 [title]="item.name"
			 width="100%"
			 height="100%" />
	</div>
	<div class="ml-4">
		<span class="font-weight-bold text-capitalize">
			{{ item.name }}
		</span>
		<figcaption class="small">{{ item.description }}</figcaption>
	</div>
</figure>