@import "src/style/mixins";

.box {
    border-radius: 8px;
    transition: 0.33s;
    &:hover {
        transform: translateY(-6px);
    }
    &__img {
        min-width: 50px;
        max-width: 51px;
        > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
