@import "src/style/mixins";

.box {
    // --color: #fa9600;
    border-radius: 1.25rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    overflow: hidden;
    &:hover {
        .box-title {
            color: var(--color) !important;
        }
    }
    &-title h3 {
        font-size: 13pt;
    }
    &-img {
        height: 14.5rem;
        > img {
            border-radius: 20px 20px 0 0;
            object-fit: cover;
        }
    }
    @mixin content($line, $height, $fontSize) {
        @include line-clamp($line);
        min-height: $height;
        font-size: $fontSize;
    }
    &-title {
        line-height: 1.2;
        @include content(2, 43px, 1.125rem);
    }
    &-description {
        @include content(3, 3.9375rem, 0.875rem);
    }
    &-view {
        font-size: 0.75rem;
        i {
            color: var(--color);
        }
    }
}
