<figure class="box mb-0">
    <a [routerLink]="['/' + item.parent_link + '/' + item.link]"
       class="d-block">
        <div class="box-img">
            <img [src]="item.images"
                 [alt]="item.name"
                 width="100%"
                 height="100%" />
        </div>
    </a>
    <div class="p-4">
        <div class="d-flex justify-content-between box-view">
            <span>
                <i class="fal fa-calendar-alt mr-1"></i>
                {{ item.maker_date | date: 'dd/MM/yyyy' }}
            </span>
            <span>
                <i class="fal fa-eye mr-1"></i>
                {{ item.views }}
            </span>
        </div>
        <a [routerLink]="[ '/' + item.parent_link + '/' + item.link ]"
           class="box-title nav-link p-0 text-body my-2">
            <h3>{{ item.name }}</h3>
        </a>
        <!-- </h5> -->
        <p class="box-description text-secondary mb-0 pt-3">{{ item.description }}</p>
    </div>
</figure>