<nav class="navbar navbar-expand-md p-0">
    <ul class="navbar-nav" *ngIf="menu && menu.length > 0">
        <ng-template #recursiveMenu let-menu>
            <li class="nav-item" *ngFor="let item of menu; first as isFirst" (click)="link = item.link"
                [ngClass]="'item-children-' + item.level">

                <a class="nav-link d-flex align-items-center justify-content-between"
                    *ngIf="item.link_redirect && item.link_redirect !== '';else link_self"
                    [ngClass]="'level-' + item.level" [href]="item.link_redirect"
                    [ngStyle]="link == item.link ? 'var(--color)' : ''">
                    <span class="text-nowrap">{{item.name}}</span>
                    <i class="ml-1" [ngClass]="item.data.length > 0  ? 'fas fa-angle-down' : 'fa fa-angle-right'"
                        *ngIf="item.data.length > 0"></i>
                </a>
                <ng-template #link_self>
                    <a class="nav-link d-flex align-items-center justify-content-between"
                        [ngClass]="'level-' + item.level" [routerLink]="[item.href]"
                        [ngStyle]="{'color': link == item.link ? 'var(--color)' : ''}">
                        <span class="text-nowrap">{{item.name}} </span>
                        <i class="ml-1" [ngClass]="item.data.length > 0  ? 'fas fa-angle-down' : 'fa fa-angle-right'"
                            *ngIf="item.data.length > 0"></i>
                    </a>
                </ng-template>

                <div class="dropdown-menu-item menu-item-child" *ngIf="item.data && item.data.length > 0">
                    <ng-container *ngTemplateOutlet="recursiveMenu;context: { $implicit: item.data }">
                    </ng-container>
                </div>
            </li>
        </ng-template>
        <ng-container *ngTemplateOutlet="recursiveMenu; context:{ $implicit: menu }">
        </ng-container>
    </ul>
</nav>