@import 'src/style/mixins';

ul {
    li {
        position: relative;
        // padding: 0;
        z-index: 2;
        &:hover {
            a.level-1 {
                text-decoration: none;
                cursor: pointer;
                // color: var(--color) !important;
                color: $primaryColor;
            }
        }
        a.level-1 {
            color: #42464e;
            padding: 16px;
            font-size: 13px;
            font-weight: bold;
            position: relative;
            ul {
                li a.level-1 {
                    &:first-child {
                        padding-left: 0 !important;
                    }
                }
            }
        }
        a.level-1:first-child {
            padding-left: 0px;
        }
    }
}

.navbar ul li {
    &:hover {
        .dropdown-menu-item {
            opacity: 1;
            visibility: visible;
            transition: all 0.5s;
        }
    }
    .dropdown-menu-item {
        position: absolute;
        top: 36px;
        left: 0;
        min-width: 200px !important;
        padding: 8px 12px 8px 0;
        opacity: 0.5;
        z-index: 1;
        visibility: hidden;
        box-shadow: 0 6px 7px 0px rgba(0, 0, 0, 0.175);
        background-color: white;
        li a {
            display: block;
            padding: 6px 0;
            color: #666 !important;
            overflow: hidden;
        }
    }
}

ul li div.dropdown-menu-item li.item-children-2:hover a.level-2,
ul li div.dropdown-menu-item li.item-children-2 div.dropdown-menu-item li:hover a.level-3,
ul li div.dropdown-menu-item li.item-children-2 div.dropdown-menu-item li div.dropdown-menu-item li:hover a.level-4 {
    text-decoration: none;
    cursor: pointer;
    // color: var(--color) !important;
    color: $primaryColor;
}

ul li a.level-2 span,
ul li a.level-3 span,
ul li a.level-4 span {
    font-size: 13px;
    &::before {
        display: inline-block;
        content: '';
        width: 12px;
        height: 1px;
        // background-color: var(--color);
        background-color: $primaryColor;
        vertical-align: middle;
        margin: -2px 4px 0 4px;
        transition: all 0.2s;
        transform: translateX(-30px);
        visibility: hidden;
    }
}

ul li a.level-2:hover span::before,
ul li a.level-3:hover span::before {
    transform: translateX(0) !important;
    visibility: visible;
}

ul li div.menu-item-child .item-children-2 {
    &:hover {
        div.menu-item-child {
            display: block;
            position: absolute;
            left: 100%;
            opacity: 1;
            padding: 10px 0 !important;
            top: -10px;
            visibility: visible;
            background-color: white !important;
            transform: translateY(0) !important;
        }
    }
    div.menu-item-child {
        display: none;
        position: absolute;
        width: auto !important;
        padding: 10px 0px 20px 0px !important;
        opacity: 0.5;
        z-index: 1;
        background-color: white !important;
        transform: translateY(-30px);
        visibility: hidden;
    }
}

ul li div.menu-item-child .item-children-2 div.menu-item-child .item-children-3 div.menu-item-child {
    display: none;
    position: absolute;
    width: auto !important;
    padding: 10px 0px 20px 0px !important;
    opacity: 0.5;
    z-index: 1;
    background-color: white !important;
    transform: translateY(-30px);
    visibility: hidden;
}

ul li div.menu-item-child .item-children-2 div.menu-item-child .item-children-3:hover div.menu-item-child {
    display: block;
    position: absolute;
    left: 100%;
    opacity: 1;
    padding: 10px 0 !important;
    top: -10px;
    visibility: visible;
    background-color: white !important;
    transform: translateY(0) !important;
}

li .search {
    bottom: -200%;
    right: calc(100% - 30px);
    border-color: var(--color) !important;
    transition: all 0.7s;
    overflow: hidden;
    .input-search {
        outline: none;
        width: 250px;
        &:focus {
            outline: none;
            box-shadow: none;
        }
    }
}

.active {
    color: var(--color) !important;
}
