@import "src/style/mixins";

a {
    border: {
        radius: 0.75rem;
    }
}

.category-box:hover {
    > figcaption {
        color: #e54910 !important;
    }
}

.category-box {
    // > figcaption {
    //     color: var(--color);
    //     @include viewport-sm {
    //         height: 50px;
    //     }
    // }
    > img {
        width: 64px;
        height: 64px;
        object-fit: cover;
    }
}
