@import 'src/style/mixins';

.box-service {
    box-shadow: rgb(0 0 0 / 18%) 0px 0.125rem 0.25rem;
    overflow: hidden;
    border-radius: 20px;
    .images {
        height: 14.5rem;
        @include viewport-sm {
            height: 12.5rem;
        }
        > img {
            border-radius: 20px 20px 0 0;
            object-fit: cover;
        }
    }
    .content {
        @mixin content($line, $primaryColor, $fontSize) {
            @include line-clamp($line);
            color: $primaryColor;
            font-size: $fontSize;
            @content;
        }
        &-title {
            // font-size: 20px;
            @include content(2, $primaryColor, 20px) {
                height: 60px;
            }
            > h3 {
                font-size: 20px;
            }
        }
        &-description {
            @include content(3, #454545, 0.875rem);
        }
        &-btn {
            background-color: transparent;
        }
    }
    .divider {
        margin: 0.75rem 0;
        width: 2.5rem;
        height: 1px;
        transform-origin: 0;
        background: linear-gradient(to right, #247ffb, #fff323);
        transition: transform 0.25s ease-out;
    }
    &:hover {
        .divider {
            transform: scaleX(5.25);
        }
        .content-btn {
            color: #fff;
            // background-color: #247ffb;
            background-color: $primaryColor;
            border-color: #247ffb;
        }
    }
}
