<div class="bg-page" [ngStyle]="{'background': 'url(' + customer.data.images + ') no-repeat center center'}">
    <div class="container-main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="title-page">
                        <div class="d-md-flex align-items-center justify-content-between">
                            <h2>{{customer.data.name}}</h2>
                            <nav aria-label="breadcrumb" *ngIf="customer.data.name && customer.data.name.length > 0">
                                <ol class="breadcrumb bg-transparent border-0 m-0 p-0">
                                    <li class="breadcrumb-item " aria-current="page">
                                        <a [routerLink]="['/']" routerLinkActive="router-link-active">
                                            {{ 'lblHome' | translate }}
                                        </a>
                                    <li class="breadcrumb-item " aria-current="page"
                                        *ngIf="customer.data.parent_name && customer.data.parent_name != ''">
                                        <a [routerLink]="['/']" routerLinkActive="router-link-active">
                                            {{ customer.data.parent_name }}
                                        </a>
                                    <li class="breadcrumb-item active " aria-current="page">{{ customer.data.name }}
                                </ol>
                            </nav>
                        </div>
                        <p class="mt-2" [ngClass]=" width > 415 ? 'w-75' : 'w-100'">{{customer.data.title}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="py-5">
    <div class="container-main">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-6 col-md-3 mb-4 customer" *ngFor="let item of customer.data.list">
                    <a [href]="item.link" target="_blank">
                        <div class="images position-relative">
                            <img [defaultImage]="item.logo" [lazyLoad]="item.logo" [title]="item.company"
                                [alt]="item.company" style="object-fit: cover" width="100%" height="100%">
                        </div>
                    </a>
                </div>
                <div class="col-md-12" *ngIf="!customer.data.list ||  customer.data.list.length == 0">
                    {{'lblUpdating' | translate}}
                </div>
            </div>
        </div>
    </div>
</div>