.customer {
    overflow: hidden;
}

.customer:hover .images::before {
    animation: shine 1s;
}

.images::before {
    position: absolute;
    top: 0;
    left: -68%;
    z-index: 2;
    display: block;
    content: "";
    width: 30%;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
    transform: skewX(-25deg);
}

@keyframes shine {
    100% {
        left: 100%;
    }
}