<form [formGroup]=" fm"
      *ngIf="fm"
      (keyup.enter)="changePassword.onSubmit()">
    <div class="row justify-content-center ">
        <div class="col-12 col-md-6">
            <h4 class="text-center">{{ 'FECustomer.changePassword' | translate }} </h4>
            <div class="form-group pt-3">
                <div class="d-flex">
                    <input autocomplete="off"
                           [type]="type"
                           class="form-control"
                           aria-hidden="true"
                           name="password"
                           formControlName="password"
                           placeholder="{{'FECustomer.passwordOld' | translate}}">
                    <span (click)="type = type == 'password' ? 'text' : 'password'"
                          id="basic-addon2"
                          class="cursor-pointer">
                        <i class="fa"
                           style="position: absolute;right: 30px; z-index: 2;margin-top: 11px;"
                           [ngClass]="{'fa-eye': type=='password', 'fa-eye-slash': type=='text'}"
                           aria-hidden="true"></i>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <div class="d-flex">
                    <input autocomplete="off"
                           [type]="type2"
                           class="form-control"
                           aria-hidden="true"
                           name="password_new"
                           formControlName="password_new"
                           placeholder="{{'FECustomer.passwordNew' | translate}}">
                    <span (click)="type2 = type2 == 'password' ? 'text' : 'password'"
                          id="basic-addon2"
                          class="cursor-pointer">
                        <i class="fa"
                           style="position: absolute;right: 30px; z-index: 2;margin-top: 11px;"
                           [ngClass]="{'fa-eye': type2=='password', 'fa-eye-slash': type2=='text'}"
                           aria-hidden="true"></i>
                    </span>
                </div>
            </div>
            <div class="text-right">
                <button type="button"
                        class="btn btn-success text-center w-100"
                        (click)="changePassword.onSubmit()">
                    {{ 'FEbtn.confirm' | translate }}</button>
            </div>
        </div>
    </div>
</form>