.bg {
    background-repeat: no-repeat;
    background-image: url(../../assets/img/login.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    position: absolute;
}

.bg-login {
    background: linear-gradient(rgba(250, 252, 249, 0), white);
}
