<!-- Slide -->
<section class="slide">
    <owl-carousel-o [options]="slide.options">
        <ng-container *ngFor="let item of slide.data">
            <ng-template carouselSlide>
                <a class="d-block text-decoration-none" [href]="item.link" target="_blank" rel="noopener noreferrer">
                    <div class="slide--bg d-flex" [ngStyle]="{'background-image':  'url(' + item.images + ')'}">
                        <div class="slide-content m-auto"
                            *ngIf="item.position && item.position < 4 && item.position > 0 && width > 769"
                            [ngClass]="+item.position == 1 ? 'text-left' : (+item.position == 2 ? 'text-center' :'text-right')">
                            <p class="d-inline-block slide-description px-2 py-1 mb-0"
                                [ngStyle]="{'background-color': item.background ? item.background : 'transparent', 'color': item.color ? item.color : '#fff' }">
                                {{ item.description }}
                            </p>
                            <br />
                            <h2 class="d-inline-block slide-title px-2 py-1 mt-3 mb-0"
                                [ngStyle]="{'background-color': item.background ? item.background : 'transparent', 'color': item.color ? item.color : '#fff'}">
                                {{ item.title }}
                            </h2>
                            <a [href]="item.link" target="_blank" rel="noopener noreferrer"
                                class="d-inline-flex align-items-center slide-btn btn rounded-0 py-2 px-4 mt-3"
                                [ngStyle]="{'border-color': item.background ? item.background : 'transparent', 'color': item.color ? item.color : '#fff'}">
                                <span class="mr-2">{{ 'lblViewMore' | translate }}</span>
                                <i class="fal fa-long-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </a>
            </ng-template>
        </ng-container>
    </owl-carousel-o>
</section>

<!-- Product -->
<section class="product" *ngIf="product.hot.length && product.hot.length > 0">
    <div class="container-main">
        <div class="container-fluid">
            <h2 class="heading" [innerHTML]="('productHome' | translate) | sanitizeHtml">
            </h2>
            <div class="product-list">
                <div class="row">
                    <div class="col-6 col-md-3 mb-3 d-none d-md-block "
                        *ngFor="let item of product.hot | slice : 0:8; i as index"
                        [attr.data-aos]="i == 0 ? 'fade-right' : (i == 2 ? 'fade-left' : '')" data-aos-duration="1000"
                        data-aos-delay="0" data-aos-offset="0">
                        <app-box-product class="product__box d-block overflow-hidden" [title]="titleBoxHomePage"
                            [item]="item"></app-box-product>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-block d-md-none">
            <owl-carousel-o [options]="product.options" class="owl-category">
                <ng-container *ngFor="let items of product.mobileHot | slice : 0:8; index as j">
                    <ng-template carouselSlide [id]="j">
                        <div>
                            <div class="box mb-3 " *ngFor="let item of items">
                                <app-box-product [title]="titleBoxHomePage" [item]="item"></app-box-product>
                            </div>
                        </div>
                    </ng-template>
                </ng-container>
            </owl-carousel-o>
        </div>
    </div>
</section>

<!-- About -->
<section class="about bg-light" *ngIf="about.service && about.service.length > 0">
    <div class="container-main">
        <div class="container-fluid">
            <div class="row align-items-center bg-white mx-0 py-3">
                <div class="col-md-6" data-aos="fade-right" data-aos-easing="linear" data-aos-duration="1000"
                    data-aos-delay="0">
                    <p class="about__subtitle text-uppercase font-weight-bold mb-2" style="color:#39ab45"
                        [innerHTML]="('aboutUsHome' | translate) | sanitizeHtml">
                    </p>
                    <h1 class="about__title color text-uppercase font-weight-bold mb-3">
                        {{ about.data.title }}
                    </h1>
                    <p class="mb-3">
                        {{ about.data.description }}
                    </p>
                    <!-- <div class="d-flex justify-content-between align-items-center">
                        <a class="nav-link p-0"
                           data-fancybox
                           [href]="about.data.link_video"
                           *ngIf="about.data.link_video && about.data.link_video !== ''">
                            <div class="about__video d-inline-flex">
                                <i class="fas fa-play"></i>
                            </div>
                        </a>
                        <button [routerLink]="['/' + language+ about.data.link]"
                                role="button"
                                class="d-inline-flex align-items-center btn btn-sm btn-white rounded-0">
                            <span class="mr-2">{{ 'FEbtn.more' | translate }}</span>
                            <i class="fal fa-long-arrow-right"></i>
                        </button>
                    </div> -->
                    <a [routerLink]="['/' + about.data.link]" class="btn rounded-0 pl-0">
                        <span>{{ 'lblViewMore' | translate }}</span>
                        <i class="fal fa-long-arrow-right text-danger ml-2"></i>
                    </a>
                </div>
                <div class="col-md-6" data-aos="fade-left" data-aos-easing="linear" data-aos-duration="1000"
                    data-aos-delay="0">
                    <div class="row">
                        <div class="col-12" *ngFor="let item of about.service | slice: 0: 4; index as i">
                            <div [ngClass]="{'mt-4': i !== 0}">
                                <box-about-service [item]="item"></box-about-service>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Service -->
<section class="service" *ngIf="service.data && service.data.length > 0">
    <div class="container-main">
        <div class="container-fluid">
            <h2 class="heading" [innerHTML]="('serviceHome' | translate) | sanitizeHtml">
            </h2>
            <div class="service-list">
                <div class="row flex-nowrap flex-md-wrap">
                    <div class="col-10 col-md-4" *ngFor="let item of service.data; index as i">
                        <div [attr.data-aos]="i == 0 ? 'fade-right' : (i == 2 ? 'fade-left' : '')"
                            data-aos-duration="1000" data-aos-delay="0" data-aos-offset="0">
                            <app-box-service [item]="item"></app-box-service>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- News -->
<section class="news bg-light" *ngIf="news.data.list && news.data.list.length > 0">
    <div class="container-main">
        <div class="container-fluid">
            <a [routerLink]="['/' + news.data.link]">
                <h2 class="heading">
                    {{ news.data.title }}
                </h2>
            </a>
            <div class="news-list">
                <owl-carousel-o [options]="news.options">
                    <ng-container *ngFor="let item of news.data.list">
                        <ng-template carouselSlide>
                            <app-box-content [item]="item"></app-box-content>
                        </ng-template>
                    </ng-container>
                </owl-carousel-o>
            </div>
        </div>
    </div>
</section>

<!-- Partner -->
<section class="partner py-5 bg-white" *ngIf="partner.list && partner.list.length > 0">
    <div class="container-main">
        <div class="container-fluid">
            <owl-carousel-o [options]="partner.options">
                <ng-container *ngFor="let item of partner.list">
                    <ng-template carouselSlide>
                        <a target="_blank" [routerLink]="[item.link]">
                            <img [src]="item.logo" [alt]="item.company" [title]="item.company" width="100%"
                                height="100%" />
                        </a>
                    </ng-template>
                </ng-container>
            </owl-carousel-o>
        </div>
    </div>
</section>