@import 'src/style/mixins';

// slide
.slide {
    &--bg {
        height: 500px;
        background-repeat: no-repeat;
        background-size: cover;
        @include viewport-sm {
            height: 160px;
        }
    }

    &-content {
        max-width: 1124px;
    }

    &-title {
        font-size: 2rem;
        @include viewport-sm {
            font-size: 1.875rem;
        }
    }

    &-btn i {
        font-size: 1.25rem;
    }
}

// product
.product {
    @extend %inner;
    &-list {
        @extend %inner-child;
    }
    // background-color: white !important;
    // [class^="col-"] {
    //     &:not(:first-child) > .box {
    //         border-left-color: transparent !important;
    //     }
    //     @for $i from 5 through 10 {
    //         &:nth-child(#{$i}) > .box {
    //             border-top: transparent !important;
    //             @if ($i == 5) {
    //                 // border-left: 1px solid #dee2e6 !important;
    //             }
    //         }
    //     }
    //     @include viewport-sm {
    //         @for $i from 3 through 10 {
    //             &:nth-child(#{$i}) > .box {
    //                 border-top: transparent !important;
    //                 @if ($i == 6) {
    //                     border-left-color: transparent !important;
    //                 }
    //             }
    //         }
    //     }
    //     > .box {
    //         transition: 0.2s ease-out;
    //         box-shadow: 0 9px 30px -6px rgb(63 63 63 / 30%);
    //         z-index: 4;
    //         display: block;
    //         border-radius: 20px;
    //         overflow: hidden;
    //     }
    // }
    &__box {
        border-radius: 20px;
        box-shadow: 0 9px 30px -6px rgb(63 63 63 / 30%);
    }
}

// .heading {
//     &-container {
//         &:hover {
//             text-decoration: none;
//             & .heading {
//                 color: var(--color) !important;
//             }
//         }
//     }
// }

.about {
    &__video {
        position: relative;
        background-color: $primaryColor;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;

        &::after {
            content: '';
            position: absolute;
            background-color: $primaryColor;
            opacity: 0.6;
            border: 2px solid $primaryColor;
            top: -10%;
            left: -10%;
            width: 120%;
            height: 120%;
            border-radius: 50%;
            z-index: 1;
            -webkit-animation: video-circle-anim 2.3s infinite ease-in-out;
            animation: video-circle-anim 2.3s infinite ease-in-out;
            -webkit-transition: all 0.5s;
            transition: all 0.5s;
        }

        > i {
            z-index: 3;
            color: #fff;
        }
    }
}

.service {
    @extend %inner;
    &-list {
        @extend %inner-child;
        > .row {
            @include viewport-sm {
                overflow-x: scroll;
            }
            &::-webkit-scrollbar {
                width: 0 !important;
                height: 0 !important;
            }
        }
    }
}

.news {
    @extend %inner;
    &-list {
        @extend %inner-child;
        // > .row {
        //     @include viewport-sm {
        //         overflow-x: scroll;
        //     }
        //     &::-webkit-scrollbar {
        //         width: 0 !important;
        //         height: 0 !important;
        //     }
        // }
    }
}

// .banner {
//     padding-top: 70px;
// }

// .partner__img {
//     object-fit: cover;
// }

// @media (min-width: 615px) {
//     .images-banner {
//         height: 270px;
//     }
// }
