<div class="product">
    <div class="d-md-flex d-block align-items-center justify-content-between mt-1">
        <h4 class="mb-3">{{ 'FECustomer.listProducts' | translate }}</h4>
        <div class="mr-md-1 mx-1 mb-3">
            <div class="input-group input-group-sm">
                <input type="text" (keyup)="product.cws._search()" [(ngModel)]="product.cws.search.value"
                    class="form-control" placeholder="{{'FESearch.title'|translate}}">
            </div>
        </div>
    </div>
    <table class="table table-hover" style="cursor: pointer">
        <thead>
            <tr>
                <th *ngFor="let col of product.cws.cols" (click)="product.cws._sorting(col.field)"
                    [ngClass]="{ 'sorting' : product.cws.sorting.field==col.field ,'cursor-pointer': col.filter==true, 'd-none' : col.show==false }">
                    <div [(ngSwitch)]="col.field">
                        <span *ngSwitchDefault>{{ col.title | translate }}</span>
                        <i *ngIf="product.cws.sorting.field==col.field" class="fa"
                            [ngClass]="{ 'fa-long-arrow-down' : product.cws.sorting.sort=='asc' , 'fa-long-arrow-up' : product.cws.sorting.sort=='desc' }"></i>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of product.cws.data; let i= index">
                <td *ngFor="let col of product.cws.cols" [ngClass]="{ 'd-none' : col.show==false }">
                    <div [(ngSwitch)]="col.field">
                        <div *ngSwitchCase=" 'index' ">{{ i + 1 }}</div>
                        <div *ngSwitchCase=" 'name' ">
                            {{ item[col.field] }}
                        </div>
                        <div *ngSwitchCase=" 'count_document' ">
                            {{ item[col.field] }}
                        </div>
                        <div *ngSwitchCase="'guarantee'" style="white-space: pre-wrap;">
                            {{ item[col.field] }}
                        </div>
                        <div *ngSwitchCase=" 'maker_date' ">
                            {{ item.maker_date | date: 'dd/MM/yyyy' }}
                        </div>
                        <div *ngSwitchCase=" 'action' ">
                            <button class="btn btn-link"
                                [routerLink]="[ '../thong-tin-san-pham/', item.order_detail_id ]">
                                <span>{{ 'FEbtn.viewDetail' | translate }}</span>
                            </button>
                        </div>
                        <span *ngSwitchDefault>{{ item[col.field] }}</span>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div *ngIf="product.cws.cached.length > Pagination.itemsPerPage">
        <pagination class="d-flex justify-content-end pt-lg-4" [totalItems]="product.cws.cached.length"
            [itemsPerPage]="Pagination.itemsPerPage" [maxSize]="Pagination.maxSize"
            (pageChanged)="Pagination.change($event)" [rotate]="false" [directionLinks]="true" firstText="&laquo;"
            lastText="&raquo;" [boundaryLinks]="true" previousText="&lsaquo;" nextText="&rsaquo;">
        </pagination>
    </div>
</div>