<div class="row">
    <div class="col-sm-12 col-md-3 pr-md-0">
        <app-group-product (filter)="filterEvent($event)"></app-group-product>
    </div>
    <div class="col-sm-12 col-md-9 pr-md-0">
        <app-getlist [filter]="filter" [change]="changes"></app-getlist>
    </div>
</div>