<form class="chips-form-bootrap"
	  [formGroup]="fm"
	  *ngIf="fm"
	  (submit)='$event.stopPropagation()'>
	<div class="card w-100">
		<div class="card-header">
			<strong>
				{{ ((id && id != 0) ? 'evaluate.titleEdit' : 'evaluate.titleAdd')
				| translate: {name: fm.value.name}
				}}
			</strong>
		</div>
		<div class="card-body">
			<div class="row">
				<div class="col-12 col-md-6 text-center">
					<div class="form-group">
						<div class="imagesThumb m-auto"
							 *ngIf="avatar">
							<div class="rounded-circle"
								 *ngFor="let item of avatar.data ; let i = index">
								<img [src]="item.src"
									 *ngIf="item.type==0 || item.type==1" />
								<span (click)="avatar._change($event,item)"
									  *ngIf="item.type==0 || item.type==1"
									  class="change">
									<i class="far fa-image"></i>
								</span>
								<span (click)="avatar._del(i)"
									  *ngIf="item.type==0 || item.type==1"
									  class="del">
									<i class="fas fa-times"></i>
								</span>
								<span (click)="avatar._push($event)"
									  *ngIf="item.type==2"
									  class="add">
									<i class="fas fa-plus-circle"></i>
								</span>
							</div>
							<input type="file"
								   (change)="avatar._onchange($event)">
						</div>
						<label>{{ 'evaluate.avatar' | translate }}</label>
						<div class="text-center"><small>.png / .jpg / size: 80px x 80px</small></div>
					</div>
					<div class="form-group">
						<div class="imagesThumb m-auto"
							 *ngIf="images">
							<div *ngFor="let item of images.data ; let i = index">
								<img [src]="item.src"
									 *ngIf="item.type==0 || item.type==1" />
								<span (click)="images._change($event,item)"
									  *ngIf="item.type==0 || item.type==1"
									  class="change">
									<i class="far fa-image"></i>
								</span>
								<span (click)="images._del(i)"
									  *ngIf="item.type==0 || item.type==1"
									  class="del">
									<i class="fas fa-times"></i>
								</span>
								<span (click)="images._push($event)"
									  *ngIf="item.type==2"
									  class="add">
									<i class="fas fa-plus-circle"></i>
								</span>
							</div>
							<input type="file"
								   (change)="images._onchange($event)">
						</div>
						<label>{{ 'evaluate.images' | translate }}</label>
						<div class="text-center"><small>.png / .jpg / size: 500px x 300px</small></div>
					</div>
				</div>
				<div class="col-12 col-md-6">
					<div class="form-group"
						 [ngClass]="{'was-validated': !fm.get('name').valid && fm.get('name').touched}">
						<label>
							{{ 'evaluate.name' | translate }}
							<span class="text-danger pl-1 font-lg">*</span>
						</label>
						<input type="text"
							   class="form-control"
							   name="name"
							   formControlName="name"
							   required>
						<small *ngIf="!fm.get('name').valid && fm.get('name').touched"
							   style="color:red">
							{{'message.required' | translate}}</small>
					</div>

					<!-- van.pa - add link -->
					<div class="form-group">
						<label>{{ 'evaluate.link' | translate }}</label>
						<input type="text"
							   class="form-control"
							   name="link"
							   formControlName="link">
					</div>

					<div class="row align-items-center">
						<div class="col-12 col-md-3 mr-4">
							<div class="form-group">
								<label>{{ 'lblOrders' | translate }}</label>
								<input type="number"
									   class="form-control"
									   name="orders"
									   min="0"
									   formControlName="orders"
									   placeholder="{{ 'lblOrders' | translate }}">
							</div>
						</div>
						<div class="form-group">
							<label>{{ 'user.sex' | translate }}</label>
							<br />
							<div class="custom-control custom-radio custom-control-inline">
								<input type="radio"
									   id="male"
									   name="sex"
									   class="custom-control-input"
									   formControlName="sex"
									   [value]="1">
								<label class="custom-control-label"
									   for="male">{{'user.male' | translate }}</label>
							</div>
							<div class="custom-control custom-radio custom-control-inline">
								<input type="radio"
									   id="female"
									   name="sex"
									   class="custom-control-input"
									   formControlName="sex"
									   [value]="2">
								<label class="custom-control-label"
									   for="female">{{'user.female' | translate }}</label>
							</div>

						</div>
					</div>
					<!--
					| Address
          -->
					<div class="form-group">
						<label>{{ 'evaluate.address' | translate }}</label>
						<input type="text"
							   class="form-control"
							   name="address"
							   formControlName="address"
							   required />
					</div>
					<!--
					| end Address
          -->
					<div class="form-group"
						 [ngClass]="{'was-validated': !fm.get('info').valid && fm.get('info').touched}">
						<label>
							{{ 'evaluate.info' | translate }}
							<span class="text-danger pl-1 font-lg">*</span>
						</label>
						<textarea type="text"
								  rows="6"
								  class="form-control"
								  name="note"
								  formControlName="info">
						</textarea>
						<small class="text-danger"
							   *ngIf="!fm.get('info').valid && fm.get('info').touched">
							{{ 'message.required' | translate }}
						</small>
					</div>
				</div>
			</div>
		</div>
		<div class="card-footer">
			<div class="float-left">
				<label class="lable-switch pull-left">
					<div class="switch">
						<input checked="checked"
							   formControlName="status"
							   type="checkbox"
							   name="status">
						<span class="lever"></span>
					</div>
					<span ng-bind="lang.lbl_status_on"
						  class="ng-binding">{{ (fm.value.status == 1 ? 'status.on' : 'status.off') | translate
						}}</span>
				</label>
			</div>
			<button type="button"
					(click)="onSubmit()"
					[disabled]="!fm.valid"
					class="btn  float-right mr-2"
					[ngClass]="fm.valid ? 'btn-success' :'btn-defaut'">
				{{'btn.save' | translate}}
			</button>
			<button type="button"
					[routerLink]="[(id && id !=0)?'../../get-list':'../get-list']"
					class="btn btn-primary float-right mr-2">{{'btn.back'
				| translate }}</button>
		</div>
	</div>
</form>