<form [formGroup]="fm" *ngIf="fm" (submit)='$event.stopPropagation()'>
    <div class="card">
        <div class="card-header">
            <strong>{{ ((id && id!=0)?'slide.update':'slide.add') | translate:{name : fm.value.name} }}</strong>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12 col-md-6 pr-0">
                    <div class="form-group">
                        <label for="name">{{ 'lblName' | translate }}<span class="ml-2"
                                style="color:red">*</span></label>
                        <input type="text" autocomplete="off" class="form-control" required name="name"
                            formControlName="name" placeholder="{{ 'lblName' | translate }}" id="name">
                        <small *ngIf="!fm.get('name').valid && fm.get('name').touched"
                            style="color:red">{{'message.required'
                            | translate}}</small>
                    </div>
                    <div class="form-group">
                        <label for="title">{{ 'settings.slide.title' | translate }}</label>
                        <input type="text" autocomplete="off" class="form-control" name="title" id="title"
                            formControlName="title">
                    </div>
                    <div class="form-group">
                        <label>{{ 'settings.link' | translate }}</label>
                        <input type="text" autocomplete="off" class="form-control" name="link" formControlName="link"
                            placeholder="{{'settings.link'|translate}}">
                    </div>
                    <div class="form-group ">
                        <label for="exampleFormControlTextarea1">{{'settings.description' | translate}}</label>
                        <textarea formControlName="description" class="form-control" id="exampleFormControlTextarea1"
                            rows="4"></textarea>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="form-group" style="height: 65px;">
                        <label>{{ 'type.img' | translate }}</label>
                        <br />
                        <div class="d-flex pt-2">
                            <div class="custom-control custom-radio mr-2">
                                <input type="radio" id="customRadio1" [value]="1" formControlName="type" name="type"
                                    class="custom-control-input">
                                <label class="custom-control-label" for="customRadio1">{{ 'type.slideImage' |
                                    translate }}</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" id="customRadio2" [value]="2" formControlName="type" name="type"
                                    class="custom-control-input">
                                <label class="custom-control-label" for="customRadio2">{{ 'type.banner' |
                                    translate }}</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>{{'lblImages' | translate}}</label>
                        <div class="imagesThumb" *ngIf="images">
                            <div class="w-100 m-0" style="height: 100px;"
                                *ngFor="let item of images.data ; let i = index">
                                <img [src]="item.src" *ngIf="item.type==0 || item.type==1" />
                                <span (click)="images._change($event,item)" *ngIf="item.type==0 || item.type==1"
                                    class="change">
                                    <i class="far fa-image"></i>
                                </span>
                                <span (click)="images._del(i)" *ngIf="item.type==0 || item.type==1" class="del">
                                    <i class="fas fa-times-circle"></i>
                                </span>
                                <span (click)="images._push($event)" *ngIf="item.type==2" class="add">
                                    <i class="fas fa-plus-circle"></i>
                                </span>
                            </div>
                            <input type="file" (change)="images._onchange($event)"
                                accept="image/png, image/jpeg, image/webp">
                        </div>
                        <div class="text-center" *ngIf="fm.value.type == 1"><small>.png / .jpg / size: 1440px x
                                500px</small></div>
                        <div class="text-center" *ngIf="fm.value.type == 2"><small>.png / .jpg / size: 800px x 300px
                                hoặc 500px x 300px</small></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-6 pr-md-0">
                            <div class="form-group">
                                <label>{{ 'settings.slide.position' | translate }}</label>
                                <div>
                                    <select formControlName="position" class="form-control selectpicker">
                                        <option selected [value]="0">Chọn vị trí</option>
                                        <option *ngFor="let item of position" [value]="item.value">
                                            {{ item.name }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group">
                                <label>{{ 'lblOrders' | translate }}</label>
                                <input formControlName="orders" min="0" autocomplete="off" name="orders" type="number"
                                    class="form-control" placeholder="lblOrders">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label>{{ 'btn.btnColor' | translate }}</label>
                            <input class="form-control form-control-sm w-25" type="color" name="color" value="red"
                                formControlName="color">
                        </div>
                        <div class="col-6">
                            <label>{{ 'btn.btnBackground' | translate }}</label>
                            <input class="form-control form-control-sm w-25" type="color" name="background"
                                formControlName="background">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="float-left">
                <label class="lable-switch pull-left">
                    <div class="switch">
                        <input checked="checked" formControlName="status" type="checkbox" name="status">
                        <span class="lever"></span>
                    </div>
                    <span ng-bind="lang.lbl_status_on" class="ng-binding">
                        {{ (fm.value.status == 1 ? 'status.on' : 'status.off') | translate }}</span>
                </label>
            </div>
            <button type="button" (click)="onSubmit()" [disabled]="!fm.valid"
                class="btn btn-success float-right">{{'btn.save'
                | translate }}</button>
            <button type="button" [routerLink]="[(id && id !=0)?'../../get-list':'../get-list']"
                class="btn btn-primary mr-2  float-right">{{'btn.back'
                | translate }}</button>
        </div>
    </div>
</form>