<header class="app-header bg-white navbar">
    <div class="d-flex justify-content-between align-items-center w-100">
        <div class="d-flex align-items-center">
            <div class="logo-header">
                <a class="p-0"
                   [routerLink]="['dashboard']">
                    <img *ngIf="globals.company && globals.company.logo"
                         [src]="globals.company.logo"
                         class="w-100 h-100"
                         style="object-fit: contain; object-fit: contain; object-position: left;">
                </a>
            </div>
            <button class="navbar-toggler d-md-down-none"
                    type="button"
                    (click)="onClickMenu()">&#9776;</button>
        </div>
        <ul class="nav ml-auto d-flex ">
            <li class="nav-item mr-3">
                <a class="nav-link"
                   target="_blank"
                   href="/">
                    <i class="icon-speedometer"></i>{{ 'header.accessWebsite' | translate }}</a>
            </li>
            <li class="nav-item user position-relative">
                <a class="nav-link text-dark p-0">
                    <div class="d-flex justify-content-center align-items-center mr-2 ml-2"
                         style="font-size: 13px; cursor: pointer;overflow: hidden;">
                        <img class="mr-2 border p-1"
                             width="35px"
                             height="35px"
                             [title]="user.name"
                             *ngIf="user.avatar && user.avatar.length > 4"
                             [alt]="user.name"
                             [src]="globals.BASE_API_URL + 'public/avatar/' + user.avatar"
                             style="object-fit: contain;border-radius: 50%;">
                        <span>{{user.name}}</span>
                        <i class="fa-angle-down fas ml-2"
                           style="font-size: 16px;"></i>
                    </div>
                </a>
                <ul class="dropdown-menu dropdown-menu-user p-0">
                    <li role="menuitem">
                        <a class="dropdown-item p-2"
                           [routerLink]="['user/update/' +  globals.USERS.get(true).id]">
                            {{ 'header.infoAccount' | translate }}</a>
                    </li>
                    <li role="menuitem">
                        <a class="dropdown-item p-2"
                           [routerLink]="['setting']">{{ 'menu.settings' | translate }}</a>
                    </li>
                    <li role="menuitem">
                        <a class="dropdown-item p-2"
                           href="login"
                           (click)="globals.USERS.remove()">{{ 'btn.logout' |
                            translate }}</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</header>