<header class="position-relative">
    <div class="header scrollmenu" id="header">
        <div class="container-main">
            <div class="container-fluid">
                <div class="d-flex justify-content-between align-items-center position-relative py-2">
                    <div class="d-flex align-items-center">
                        <div (click)="changeMenuStatus(!menuStatus)" [ngClass]="{'hamburger--open': menuStatus}"
                            class="hamburger position-relative cursor-pointer d-none d-md-block">
                            <span class="d-block w-100 position-absolute"></span>
                            <span class="d-block w-100 position-absolute"></span>
                            <span class="d-block w-100 position-absolute"></span>
                        </div>
                        <a [routerLink]="['/']" class="header-logo ml-md-4" *ngIf="globals.company.logo.length">
                            <img width="86.7" height="66.7" class="img-fluid" [src]="globals.company.logo"
                                [alt]="globals.company.name" [title]="globals.company.name" />
                        </a>
                    </div>
                    <div class="d-flex align-items-center">
                        <app-menu-horizontal [menu]="menu" class="d-none d-lg-block"></app-menu-horizontal>
                        <div class="d-block d-md-none ml-3">
                            <form action="" (submit)='$event.stopPropagation()'>
                                <div class="input-group input-group-sm">
                                    <input #inputSearch class="sm-search__input form-control border-right-0"
                                        type="search" [placeholder]="'FESearch.title' | translate"
                                        (keyup.enter)="search.onSearch();" (keydown.enter)="search.onSearch();"
                                        [(ngModel)]="search.value" [ngModelOptions]="{standalone: true}"
                                        autocomplete="off" aria-describedby="sm-search" />
                                    <div class="input-group-append">
                                        <button class="sm-search__btn btn bg-transparent border-left-0" id="sm-search"
                                            type="button" (click)="search.onSearch()">
                                            <i class="fal fa-search sm-search__btn-icon"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="cursor-pointer text-center d-none d-md-block" style="width: 48px;"
                            (click)="search.showSearch()">
                            <i class="far fa-search" *ngIf="!search.icon"></i>
                            <i class="fal fa-times" *ngIf="search.icon"></i>
                        </div>
                        <div class="search bg-white overflow-hidden d-none d-md-block" *ngIf="search.icon">
                            <input type="search" id="search" #inputSearch (keyup.enter)="search.onSearch();"
                                [(ngModel)]="search.value" [ngModelOptions]="{standalone: true}" autofocus
                                autocomplete="off" class="border-0 form-control input-search pl-0 shadow-none w-100"
                                placeholder="{{ 'FESearch.search' | translate }}" />
                            <div class="position-absolute cursor-pointer search__icon" (click)="search.onSearch()">
                                <i class="far fa-search text-black-50"></i>
                            </div>
                        </div>
                        <div class="user d-none d-md-block">
                            <a class="header-link d-flex align-items-center position-relative nav-link mx-0 mx-md-2"
                                href="javascript:;" *ngIf="globals.CUSTOMER.check() == true">
                                <div class="user-icon mr-2 rounded-circle border text-center">
                                    <i class="fal fa-user"></i>
                                </div>
                                <div class="user-info">
                                    <span>Tài khoản</span><br />
                                    <span class="user-text">{{ globals.CUSTOMER.get().name }}</span>
                                </div>
                                <div class="user-info-menu p-2">
                                    <button [routerLink]="['/user/thong-tin-ca-nhan']"
                                        class="btn w-100 rounded-0 bg-primary d-inline-block py-2">
                                        <span class="mr-2 text-white">{{'lblInforUser' | translate }}</span>
                                    </button>
                                    <hr class="my-1" />
                                    <button [routerLink]="['/user/thong-tin-don-hang']"
                                        class="btn w-100 rounded-0 bg-primary py-2">
                                        <span class="mr-2 text-white">{{ 'FECustomer.cart' | translate}}</span>
                                    </button>
                                    <hr class="my-1" />
                                    <button [routerLink]="['/user/doi-mat-khau']"
                                        class="btn w-100 rounded-0 bg-primary py-2">
                                        <span class="mr-2 text-white">
                                            {{ 'FECustomer.changePassword' | translate }}</span>
                                    </button>
                                    <hr class="my-1" />
                                    <button (click)="logout()"
                                        class="btn w-100 rounded-0 bg-primary d-none d-md-block py-2">
                                        <span class="mr-2 text-white">{{ 'FEbtn.logout' | translate }}</span>
                                    </button>
                                </div>
                            </a>
                            <a class="header-link d-flex align-items-center position-relative nav-link px-0 py-3 mx-3"
                                href="javascript:;" *ngIf="globals.CUSTOMER.check() == false">
                                <div class="user-icon rounded-circle text-center text-white bg--secondary">
                                    <i class="fas fa-user"></i>
                                </div>
                                <div class="user-info-menu p-2">
                                    <button (click)="login(1)" class="btn w-100 rounded-0 bg-primary py-2">
                                        <span class="mr-2 text-white text-nowrap">{{ 'FEbtn.login' | translate }}</span>
                                    </button>
                                    <hr class="my-1" />
                                    <button (click)="login(3)" class="btn w-100 rounded-0 py-2"
                                        style="background-color: #dae0e5">
                                        <span class="mr-2 text-nowrap">{{ 'FEbtn.singin' | translate }}</span>
                                    </button>
                                </div>
                            </a>
                        </div>
                        <div class="cart position-relative" id="cart">
                            <a class="align-items-center d-flex header-link nav-link p-0 ml-3" href="javascript:;"
                                [routerLink]="[ '/gio-hang' ]">
                                <span class="cart-icon position-relative">
                                    <i class="fal fa-shopping-cart mr-2"></i>
                                    <span
                                        class="badge p-0 position-absolute rounded-circle badge-danger font-weight-normal">
                                        {{ cartApi.amount() }}</span>
                                </span>
                            </a>
                            <div id="notification" class="notification position-absolute rounded bg-white">
                                <div class="position-relative notification-container p-3">
                                    <span class="notification--close position-absolute cursor-pointer"
                                        (click)="_handleCloseNotification()">
                                        <i class="fas fa-times"></i>
                                    </span>
                                    <span class="text-nowrap notification__title">
                                        <i class="fas fa-check-circle text-success mr-1"></i>
                                        {{ 'FECart.addToCartSuccess' | translate }}
                                    </span>
                                    <button class="btn btn-danger btn-block btn-sm mt-2" [routerLink]="['/gio-hang']">
                                        {{ 'FECart.seeCart' | translate }}
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="d-block d-md-none ml-3">
                            <div (click)="changeMenuStatus(!menuStatus)" [ngClass]="{'hamburger--open': menuStatus}"
                                class="hamburger position-relative cursor-pointer mx-auto">
                                <span class="d-block w-100 position-absolute"></span>
                                <span class="d-block w-100 position-absolute"></span>
                                <span class="d-block w-100 position-absolute"></span>
                            </div>
                            <span>Menu</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="menu position-fixed d-none w-100" [ngClass]="{'d-block': menuStatus}">
        <div class="d-flex h-100">
            <div class="menu-main">
                <app-menu [menu]="menu" (menuStatus)="changeMenuStatus($event)"></app-menu>
            </div>
            <div class="menu-overlay d-none d-md-block" (click)="changeMenuStatus(false)"></div>
        </div>
    </div>
</header>