@import 'src/style/mixins';
@import 'src/style/animations';

#header {
    position: relative;
    z-index: 999;
    background-color: #fcfcfc;
    box-shadow: 0 0 8px 0 rgb(0 0 0 / 20%);
}

.notification {
    display: none;
    right: 0;
    top: 185%;
    border-radius: 8px;
    box-shadow: #b3b3b3 1px 1px 15px;
    font-size: 14px;
    &-container::before {
        content: '';
        position: absolute;
        bottom: 100%;
        right: 15px;
        border-width: 8px;
        border-style: solid;
        border-color: transparent transparent #fff;
        -webkit-border-image: initial;
        -o-border-image: initial;
        border-image: initial;
    }
    &__title {
        font-size: 12px;
    }
    &--close {
        right: 10px;
        top: 2px;
        color: #9b9b9b;
    }
}

.header {
    // --size: 4.5rem;
    // @include viewport-sm {
    //     --size: 3.5rem;
    // }
    .hamburger {
        width: 1.5rem;
        height: 1.125rem;

        ~ span {
            font-size: 10px;
        }

        > span {
            left: 0;
            height: 1px;
            background-color: var(--colorText);
            opacity: 1;
            transition: 0.25s ease-in-out;

            &:nth-child(1) {
                top: 0;
            }

            &:nth-child(2) {
                top: 0.5rem;
            }

            &:nth-child(3) {
                top: 1rem;
            }
        }

        &--open > span {
            &:nth-child(1) {
                top: 0.5rem;
                transform: rotate(135deg);
            }

            &:nth-child(2) {
                opacity: 0;
                left: -1.5rem;
            }

            &:nth-child(3) {
                top: 0.5rem;
                transform: rotate(-135deg);
            }
        }
    }

    &-logo {
        width: $size-logo;
    }

    &-link {
        font-size: 14px;
        color: var(--colorText);

        &:hover {
            // color: var(--color);
            color: $primaryColor;
        }
    }

    .cart {
        &-text {
            font-size: 14px;
        }

        &-icon {
            .badge {
                --space: 18px;
                width: var(--space);
                height: var(--space);
                line-height: var(--space);
                top: -8px;
                right: -5px;
            }
        }
    }

    .user {
        &-icon {
            --iconSize: 26px;
            width: var(--iconSize);
            height: var(--iconSize);
        }
        &-info {
            line-height: 1;

            span:first-child {
                font-size: 13px;
            }

            span:last-child {
                font-size: 14.5px;
            }
        }

        &-info-menu {
            visibility: hidden;
            position: absolute;
            top: 45px;
            background-color: white;
            width: auto;
            min-width: 100%;
            left: 50%;
            z-index: 999;
            animation: slideUp 0.5s ease-out;
            box-shadow: 0 0 8px 0 rgb(0 0 0 / 20%);
            transform: translateX(-50%);
        }

        .header-link:hover {
            .user-info-menu {
                visibility: visible;
                // animation: slideDown 0.6s ease-out;
            }
        }
    }
}

.menu {
    --width: 16.25rem;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    overflow: hidden;
    background-color: rgb(51 51 51 / 50%);
    &-main {
        width: var(--width);
        @include viewport-sm {
            width: 100%;
        }
        animation: menu 0.67s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    &-overlay {
        width: calc(100% - var(--width));
    }
}

.navbar-fixed {
    z-index: 999;
    position: fixed !important;
    top: 0;
    width: 100%;
    box-shadow: 0px 0px 6px #29363d38;
    background-color: #fff !important;
    animation: header 0.5s;
}

/* Search */
.search {
    position: absolute;
    top: 83px;
    right: 16px;
    width: 300px;
    padding: 0 20px;
    //   border-top: 4px solid var(--color);
    border-top: 4px solid $primaryColor;
    box-shadow: 2px 5px 10px rgb(0 0 0 / 10%);
    z-index: 3;

    @include viewport-sm {
        top: 69px;
        right: 0;
        width: 100%;
        padding: 0 20px;
    }

    &__icon {
        top: 50%;
        right: 16px;
        transform: translateY(-50%);
    }
}

.input-search {
    padding: 24px;
}

.input-search:focus {
    box-shadow: none;
}

.search-mobi {
    position: fixed;
    z-index: 9;
    background: #fff;
    overflow-x: hidden;
    transition: 0.3s;
    left: 0;
    top: 0;
    height: 138px;
    right: 0;
    padding-top: 75px;
    box-shadow: 0px 0px 6px #29363d38;
    border-bottom: var(--color);
}

.search-input,
.search-input-mobile {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    font-family: arial;
    font-size: 14px;
    font-style: italic;
    height: 48px;
    line-height: 48px;
    outline: medium none;
    padding: 0 55px 0 170px;
    width: 100%;
}

.search-input-mobile {
    padding: 0 50px 0 20px;
}

.search-icon {
    position: absolute;
    right: 20px;
    top: 33%;
    font-size: 16px;
    cursor: pointer;
}

@media (max-width: 375px) {
    .search {
        width: 260px;
    }
}

.sm-search {
    @include viewport-sm {
        width: 60%;
    }
    &__input,
    &__btn {
        z-index: 0 !important;
        border-color: var(--colorText);
    }
}
