<div class="py-md-5 py-4 bg-light">
    <div class="container-main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="title-page d-md-flex justify-content-between align-items-center">
                        <h1 class="color">{{ contact.data.name }}</h1>
                        <nav aria-label="breadcrumb" *ngIf="contact.data.name && contact.data.name.length > 0">
                            <ol class="breadcrumb bg-transparent border-0 m-0 p-0">
                                <li class="breadcrumb-item" aria-current="page">
                                    <a [routerLink]="['/']">
                                        {{ "lblHome" | translate }}
                                    </a>
                                </li>
                                <!-- <li class="breadcrumb-item active" aria-current="page">
                                    {{ contact.data.parent_name ? contact.data.parent_name : contact.data.name }}
                                </li> -->
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="padding-top: 48px;" *ngIf="contact.data.detail?.length">
    <div class="container-main">
        <div class="container-fluid">
            <div [innerHTML]="contact.data.detail | sanitizeHtml"></div>
        </div>
    </div>
</div>