ul li {
    list-style: none;
}

.title {
    font-size: 12pt;
    cursor: pointer;
}

.btn:focus {
    color: #d0011b;
}
.item-title {
    font-size: 13px;
}
.item-title:hover,
input {
    color: var(--color);
    cursor: pointer;
}

#mobile-filter {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 58px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    transition: 0.5s;
}

#mobile-filter .content {
    position: relative;
    top: 0%;
    width: 100%;
    text-align: center;
    overflow-x: hidden;
}

#mobile-filter .content::-webkit-scrollbar {
    width: 0;
}
