// variables
$primary-font: 'UTM__Avo';
$primaryColor: #07337e !important;
$text-color: #343434;
$size-logo: 86.7px;
$w-container: 1124px;
$w-scrollbar: 8px;
$h-slide: calc(100vh - 82.5px);

// responsive
$w-sm: 425px;
$w-md: 768px;
$w-lg: 1024px;
@mixin viewport-xl {
    @media (min-width: #{$w-lg + 1px}) {
        @content;
    }
} // min 1025
@mixin viewport-lg {
    @media (max-width: $w-lg) {
        @content;
    }
} // max 1024
@mixin viewport-md {
    @media (max-width: $w-md) {
        @content;
    }
} // max 768
@mixin viewport-sm {
    @media (max-width: $w-sm) {
        @content;
    }
} // max 425

// text truncate
$lines: 2, 3;
@each $line in $lines {
    %text-truncate-#{$line} {
        -webkit-line-clamp: $line;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}
%position-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
%inner {
    padding: 50px 0;
}
%inner-child {
    padding-top: 16px;
}
%heading {
    margin-bottom: 8px;
    display: inline-block;
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    // color: $text-color;
    color: $primaryColor;
    // &:hover {
    //     color: $primaryColor;
    // }
    > p {
        margin-bottom: 0;
    }
}

@mixin line-clamp($line) {
    display: -webkit-box;
    -webkit-line-clamp: $line;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
