<a [href]="item.link"
   class="box-container d-inline-block text-dark">
	<div class="box mb-3 clearfix p-2 h-100">
		<div class="box__header mb-3">
			<div class="box__avatar rounded-circle overflow-hidden float-left mr-4">
				<img class="lazyload"
					 *ngIf="item.logo && item.logo.length > 0"
					 [attr.data-src]="item.logo"
					 [alt]="item.name"
					 width="100%"
					 height="100%" />
				<img *ngIf="!item.logo || item.logo.length == 0"
					 [src]="item.sex == 1 ? '../../../../assets/img/man-default.jpg' : '../../../../assets/img/women-default.png'"
					 alt="Photo default"
					 width="100%"
					 height="100%" />
			</div>
			<div>
				<span class="font-weight-bold mb-0">{{ item.name }}</span>
				<div class="box__description mb-2">
					<span class="h-100 overflow-hidden">
						{{ item.info }}
					</span>
				</div>
			</div>
			<!-- </div> -->
			<!-- </figure> -->
		</div>

		<div class="box__img overflow-hidden mb-3">
			<img width="100%"
				 height="100%"
				 [src]="item.images"
				 [alt]="item.name" />
		</div>
		<address *ngIf="item.address && item.address.length > 0"
				 class="font-weight-bold text-center small  mb-0">{{
			item.address }}</address>

	</div>
</a>