@import "src/style/mixins";

.box {
    --size: 112px;
    background-color: whitesmoke;
    border-radius: 20px;
    &-container {
        text-decoration: none;
    }
    &__header {
        min-height: var(--size);
    }
    &__avatar {
        width: var(--size);
        height: var(--size);
        shape-outside: circle();
        & > img {
            object-fit: cover;
            border-radius: 50%;
            display: block;
        }
        @include viewport-sm {
            --size: 64px;
        }
    }
    &__img {
        > img {
            width: 100%;
            height: 300px;
            object-fit: cover;
            border-radius: 20px !important;
        }
    }
}
