@import "src/style/mixins";

.breadcrumb-item.active > a {
    color: var(--color);
}

.related {
    // --color: #fa9600;
    top: 6.25rem;
    &__heading {
        padding: 6px 0;
        font-size: 16pt;
        background-color: var(--color);
    }
}

.content-detail {
    @include viewport-sm {
        background-color: white;
    }
}

// .detail-tags {
//     overflow-x: scroll;
//     &::-webkit-scrollbar {
//         display: none;
//     }
// }

.tag a {
    display: block;
    padding: 2px 15px;
    background-color: #fff;
    border: 1px solid #ddd;
    font-size: 13px;
    line-height: 1.69;
    border-radius: 10px;
    white-space: nowrap;
}

.tag:hover a {
    color: var(--color);
    transition: 0.3s;
    cursor: pointer;
}

@media (max-width: 415px) {
    .detail-news h2 {
        font-size: 25px;
    }
    .content-detail-name {
        font-size: 1.4rem;
    }
    .info-container span,
    .info-container span i {
        font-size: 0.8rem;
    }
    .description {
        font-size: 1rem;
    }
}

@media (max-width: 376px) {
    .fz-13 {
        font-size: 13px;
    }
}
