<div class="bg-light pb-4">
    <div class="container-main">
        <div class="container-fluid">
            <div class="pt-md-5 pt-4">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb bg-transparent border-0 m-0 p-0" *ngIf="data.name && data.name.length > 0">
                        <li class="breadcrumb-item" aria-current="page">
                            <a [routerLink]="['/']">{{ 'lblHome' | translate }}</a>
                        </li>
                        <li class="breadcrumb-item" aria-current="page">
                            <a [routerLink]="['/' + data.parent_links]">{{ data.parent_names }}</a>
                        </li>
                        <li class="breadcrumb-item" aria-current="page"
                            *ngIf="data.parent_name && data.parent_name != ''">
                            <a style="color: #07337e" [routerLink]="['/' + data.parent_links + '/' + data.parent_link]">
                                {{ data.parent_name }}
                            </a>
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="mb-md-3 bg-light" *ngIf="data.name && data.name !== ''">
    <div class="container-main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8 content-detail">
                    <div class="blog-detail p-md-4 pt-4 bg-white">
                        <h1 class="font-weight-bold content-detail-name">{{ data.name }}</h1>
                        <div class="d-md-flex ">
                            <span class="text-muted font-italic mr-3 mr-md-5 fz-13">
                                <i class="fas fa-calendar-alt mr-2"></i>{{data.maker_date |date:'dd-MM-yyyy'}}
                            </span>
                            <span class="text-muted font-italic mr-3 mr-md-5 fz-13">
                                <i class="far fa-folder-open mr-2"></i>{{ data.parent_name }}
                            </span>
                            <span class="text-muted font-italic fz-13">
                                <i class="fas fa-eye mr-2"></i>{{ data.views }}
                            </span>
                        </div>
                        <div class="detail-news pt-4">
                            <div style="text-align: justify;">
                                <div class="content-page" *ngIf="data.detail && data.detail != ''"
                                    [innerHTML]="data.detail | sanitizeHtml" id="contentDetail">
                                </div>
                                <div class="text-right" *ngIf="data.author && data.author != ''">
                                    <span>{{'FEContents.lblFollow' | translate}}<span>{{data.author}}</span></span>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-wrap align-items-center pt-4"
                            *ngIf="data.keywords && data.keywords.length > 0">
                            <i class="fas fa-tags mr-3 text-black-50"></i>
                            <div class="tag" *ngFor="let item of data.keywords" (click)="search.onSearch(item)">
                                <a class="mr-2 mb-2">{{item}}</a>
                            </div>
                        </div>
                    </div>
                    <div class="row bg-white mt-4">
                        <div class="col-12">
                            <app-comment></app-comment>
                        </div>
                    </div>
                </div>

                <!-- NEWS RELATED -->
                <div class="col-md-4 pl-md-0 pt-4 pt-md-0">
                    <aside class="related position-sticky">
                        <div class="related__heading rounded text-capitalize text-center text-white mb-md-3">
                            <span>{{ 'FEContents.relatednews' | translate }}</span>
                        </div>
                        <div class="related-box d-flex mt-2" *ngFor="let row of data.related">
                            <box-content-grid [title]="titleBoxDetailContent" [item]="row"></box-content-grid>
                        </div>
                        <div *ngIf="!data.related || data.related.length == 0" class="text-center mb-0 mt-md-5">
                            <h2 class="h6">{{'lblUpdating' | translate}}</h2>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</div>