<div class="card">
    <div class="card-header"
         style="cursor: pointer;">
        <strong>{{'products.title' | translate }}</strong>
        <div class="float-md-right">
            <div class="input-group input-group-sm">
                <input type="text"
                       (keyup)="table._search()"
                       [(ngModel)]="table.search.value"
                       class="form-control"
                       placeholder="{{'search.lblList'|translate}}">
            </div>
        </div>
    </div>
    <div style="overflow-x:auto;">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="pointer"
                        *ngFor="let col of table.cols"
                        (click)="table._sorting(col.field)"
                        [ngClass]="{ 'sorting' : table.sorting.field==col.field ,'cursor-pointer': col.filter==true  , 'hide' : col.show==false }">
                        <div [(ngSwitch)]="col.field">
                            <div *ngSwitchCase="'action'">{{col.title | translate }}</div>
                            <span *ngSwitchDefault>{{col.title | translate }}</span>
                            <i *ngIf="table.sorting.field==col.field"
                               class="fa"
                               [ngClass]="{ 'fa-long-arrow-down' : table.sorting.sort=='asc' , 'fa-long-arrow-up' : table.sorting.sort=='desc' }"></i>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of table.data ; let v = index">
                    <td *ngFor="let col of table.cols"
                        [ngClass]="{ 'hide' : col.show==false }">
                        <div [(ngSwitch)]="col.field">
                            <span *ngSwitchCase="'index'">{{v+1}}</span>
                            <span class="d-inline-block"
                                  *ngSwitchCase="'name'"
                                  style="width: 220px">{{item[col.field]}}</span>
                            <span *ngSwitchCase="'images'">
                                <img style="width:50px;"
                                     *ngIf="item[col.field] != 'NULL'"
                                     [src]="(item[col.field] && item[col.field].length > 3) ? globals.BASE_API_URL+'public/products/'+item[col.field] : ''">
                            </span>
                            <div *ngSwitchCase="'maker_date'">
                                {{item[col.field]| date: 'dd/MM/yyyy' }}
                            </div>
                            <span *ngSwitchCase="'action'"
                                  class='display-action text-right'>
                                <button class="btn btn-link btn-sm "
                                        (click)="changeStatus(item.id, +item.status)"
                                        [ngClass]="+item.status == 1 ?'text-success':'text-danger'">
                                    <i *ngIf="+item.status == 1"
                                       class="fas fa-circle"
                                       style="transform: rotate(45deg);"> </i>
                                    <i *ngIf="+item.status == 0"
                                       class="far fa-circle"
                                       style="transform: rotate(45deg);"></i>
                                </button>
                                <button class="btn btn-link btn-sm"
                                        (click)="changeHot(item.id,+item.hot)"
                                        data-toggle="tooltip"
                                        data-placement="top"
                                        [title]="'products.hot' | translate"
                                        [ngClass]="+item.hot == 1 ? 'text-danger' : 'text-dark'">
                                    <i class="fab fa-hotjar"></i>
                                </button>
                                <!-- <button class="btn btn-link btn-sm" (click)="changePin(item.id,+item.pin)"
                                    data-toggle="tooltip" data-placement="top" [title]="'products.pin' | translate"
                                    [ngClass]="+item.pin == 1 ?'text-success':'text-dark'">
                                    <i *ngIf="+item.pin == 1" class="fas fa-thumbtack"
                                        style="transform: rotate(45deg);"> </i>
                                    <i *ngIf="+item.pin == 0" class="fas fa-thumbtack"
                                        style="transform: rotate(45deg);"></i>
                                </button> -->
                                <button class="btn btn-link btn-sm"
                                        [routerLink]="['../update/',item.id]">
                                    <i class="fas fa-pencil-alt text-dark"></i>
                                </button>
                                <button class="btn btn-link btn-sm"
                                        (click)="onRemove(item)">
                                    <i class="fas fa-trash text-danger"></i>
                                </button>
                            </span>
                            <span *ngSwitchCase="'status'"
                                  [ngClass]="+item.status === 1 ? 'text-success' : 'text-danger'">
                                {{ (+item.status === 1 ? 'status.active' : 'status.disabled') | translate }}</span>
                            <span *ngSwitchDefault>{{item[col.field]}}</span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="card-footer">
        <div class="float-md-left">
            <span>{{ table.settings.first }} - {{ table.settings.last }} of
                {{ table.settings.total }}</span>
            <span>
                <a (click)="table._previousnext(false)"
                   style="padding : 3px 5px;"
                   class="cursor-pointer">
                    <i class="fa fa-angle-double-left"
                       aria-hidden="true"></i>
                </a>
                <a (click)="table._previousnext(true)"
                   style="padding : 3px 5px;"
                   class="cursor-pointer">
                    <i class="fa fa-angle-double-right"></i>
                </a>
            </span>
        </div>
    </div>
</div>
<div class="fixed-action-btn text-center">
    <a [routerLink]="['../insert']"
       class="text-white"
       style="text-decoration: none">
        <div class="getlistadd d-flex align-items-center justify-content-center">
            <i class="fas fa-plus"></i>
        </div>
    </a>
</div>