<form [formGroup]="fm"
      *ngIf="fm"
      (submit)='$event.stopPropagation()'>
    <div class="card w-100">
        <div class="card-header">
            <strong>
                {{ 'settings.itemMenu' | translate : { name : fm.value.name } }}
            </strong>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <label for="name">{{ 'lblName' | translate }}</label>
                        <input type="text"
                               class="form-control"
                               name="name"
                               formControlName="name"
                               placeholder="{{ 'pagesGroup.name' | translate }}"
                               id="name"
                               autocomplete="off">
                        <small *ngIf="!fm.get('name').valid && fm.get('name').touched"
                               style="color:red">{{'message.required'
                            | translate}}</small>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <label for="note">{{'lblNote' | translate}}</label>
                        <textarea formControlName="note"
                                  class="form-control"
                                  id="note"
                                  rows="5"
                                  autocomplete="off"
                                  style="margin-top: 0px; margin-bottom: 0px; height: 117px;"></textarea>
                    </div>
                </div>
            </div>
            <div class="row mt-3"
                 *ngFor="let item of listPageDetail">
                <div class="col-12 font-weight-bold">
                    <span [(ngSwitch)]="item['type']">
                        <span *ngSwitchCase="'1'">{{ 'type.link' | translate }}</span>
                        <span *ngSwitchCase="'2'">{{ 'type.page' | translate }}</span>
                        <span *ngSwitchCase="'3'">{{ 'type.product' | translate }}</span>
                        <span *ngSwitchCase="'4'">{{ 'type.news' | translate }}</span>
                        <span *ngSwitchCase="'5'">{{ 'type.library' | translate }}</span>
                        <span *ngSwitchCase="'6'">{{ 'type.service' | translate }}</span>
                    </span>
                </div>
                <div class="col-4 mt-2"
                     *ngFor="let page of item.data">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox"
                               class="custom-control-input"
                               [value]="page.id"
                               (click)="selectPages($event)"
                               [id]="page.id"
                               [checked]="page.check">
                        <label class="custom-control-label"
                               [attr.for]="page.id">{{page.name}}</label>
                    </div>
                </div>
            </div>

        </div>

        <div class="card-footer">
            <div class="float-left">
                <label class="lable-switch pull-left">
                    <div class="switch">
                        <input checked="checked"
                               formControlName="status"
                               type="checkbox"
                               name="status">
                        <span class="lever"></span>
                    </div>
                    <span ng-bind="lang.lbl_status_on"
                          class="ng-binding">{{ (fm.value.status == 1 ? 'status.on' : 'status.off') | translate
                        }}</span>
                </label>
            </div>
            <button type="button"
                    (click)="onSubmit()"
                    [disabled]="!fm.valid"
                    class="btn btn-success float-right">
                {{'btn.save' | translate }}</button>
            <button type="button"
                    [routerLink]="[(id && id !=0)?'../../get-list':'../get-list']"
                    class="btn btn-primary float-right mr-2">
                {{'btn.back' | translate }}
            </button>
        </div>
    </div>
</form>