@import "src/style/mixins";

@media (max-width: 415px) {
    .table th,
    .table td {
        padding: 5px 5px 5px 5px !important;
    }
    .nav-link {
        padding: 0 !important;
    }
    h4 {
        font-size: 1.25rem;
    }
    .fz11-res {
        font-size: 12px;
    }
}

.no-cart {
    &-img {
        width: 300px;
        @include viewport-sm {
            width: 150px;
        }
    }
    &-empty {
        @include viewport-sm {
            font-size: 15px;
        }
    }
}

.text-danger {
    color: red !important;
}
