<div class="py-5 bg-light">
    <div class="container-main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-12 pr-md-0">
                    <div class="card border-0 ">
                        <div class="card-body">
                            <div class="w-100">
                                <small class="font-weight-bold">
                                    {{ 'FECustomer.account' | translate }}
                                </small>
                                <h5>
                                    {{ globals.CUSTOMER.get().name }}
                                </h5>
                            </div>
                            <div class="mt-3">
                                <button type="button" [routerLink]="['/user/thong-tin-ca-nhan']"
                                    routerLinkActive="active"
                                    class="btn text-truncate btn-defaut w-100 d-flex align-items-center">
                                    <i class="far fa-id-card mr-3"></i>
                                    <span class="text-truncate">
                                        {{ 'FECustomer.info' | translate }}
                                    </span>
                                </button>
                            </div>
                            <div class="mt-3 ">
                                <button type="button" class="btn btn-defaut w-100 d-flex align-items-center"
                                    [routerLink]="['/user/thong-tin-don-hang']" routerLinkActive="active">
                                    <i class="fas fa-shopping-bag mr-3 "></i>
                                    <span>{{ 'FECustomer.cart' | translate}}</span>
                                </button>

                            </div>
                            <div class="mt-3">
                                <button type="button"
                                    class="btn text-truncate btn-defaut w-100 d-flex align-items-center"
                                    [routerLink]="['/user/danh-sach-san-pham']" routerLinkActive="active">
                                    <i class="fas fa-shopping-cart mr-3"></i>
                                    <span class="text-truncate">
                                        {{ 'FECustomer.listProducts' | translate}}
                                    </span>
                                </button>
                            </div>
                            <div class="mt-3">
                                <button type="button" [routerLink]="['/user/doi-mat-khau']" routerLinkActive="active"
                                    class="btn text-truncate btn-defaut w-100 d-flex align-items-center">
                                    <i class="fas fa-unlock-alt mr-3"></i>
                                    <span class="text-truncate">
                                        {{'FECustomer.changePassword' | translate }}
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-8 col-12 mt-4 mt-md-0">
                    <div class="bg-white p-3">
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>