<!-- Info -->
<form [formGroup]="fm"
      *ngIf="fm"
      (submit)='$event.stopPropagation()'>
    <div class="card">
        <div class="card-header text-white bg-primary">
            <strong>{{'products.information' | translate }}</strong>
        </div>
        <div class="card-body">
            <div class="row ">
                <div class="col-md-6 col-12 ">
                    <div class="form-group">
                        <label for="name">{{'lblName' | translate }} <span class="text-danger">*</span></label>
                        <input name="name"
                               (keyup)="onChangeLink($event)"
                               formControlName="name"
                               type="text"
                               autocomplete="off"
                               class="form-control"
                               required
                               id="name" />
                        <small style="color:red"
                               *ngIf="fm.get('name').invalid && fm.get('name').touched">{{'message.required'|translate}}</small>
                    </div>
                    <div class="form-group">
                        <label for="link">{{'lblLink' | translate }} <span class="text-danger">*</span></label>
                        <input name="link"
                               (keyup)="link._keyup($event)"
                               [(ngModel)]="fm.value.link"
                               id="link"
                               formControlName="link"
                               type="text"
                               class="form-control"
                               required
                               autocomplete="off" />
                        <small style="color:red"
                               *ngIf="fm.get('link').invalid && fm.get('link').touched">{{'message.required'|translate}}</small>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="row">
                        <div class="col-md-6">
                            <!-- <div class="form-group">
                                <label for="group">{{ 'products.group' | translate }}
                                    <span class="text-danger">*</span></label>
                                <select name="page_id"
                                        formControlName="page_id"
                                        class="form-control"
                                        required
                                        id="group">
                                    <option value="0">{{'products.chooseGroup'|translate}} </option>
                                    <option *ngFor="let item of data.group "
                                            [value]="item.id"
                                            [disabled]="item.status == 0">
                                        {{item.name}}</option>
                                </select>
                                <small style="color:red"
                                       *ngIf="fm.get('page_id').invalid && fm.get('page_id').touched">{{'message.required'|translate}}</small>
                            </div> -->
                            <div class="form-group">
                                <label for="group">{{ 'products.group' | translate }}
                                    <span class="text-danger">*</span></label>
                                <div data-toggle="dropdown"
                                     aria-haspopup="true"
                                     aria-expanded="false"
                                     class="form-control cursor-pointer  d-flex align-items-center justify-content-between "
                                     (click)="group._focusSearch()">
                                    <div style="width: 95%;">
                                        <div *ngIf="group.name == ''">{{ 'products.chooseGroup' | translate }} </div>
                                        <div *ngIf="group.name != ''"
                                             class="text-in-line">{{ group.name }}</div>
                                    </div>
                                    <i class="fas fa-chevron-down"
                                       style="font-size:12px"></i>
                                </div>
                                <div class="dropdown-menu p-2">
                                    <div class="position-relative"
                                         (click)="$event.stopPropagation()">
                                        <input type="text"
                                               class="form-control mb-2"
                                               name="products"
                                               autocomplete="off"
                                               #inputSearchGroup
                                               [(ngModel)]="group.valueSearch"
                                               [ngModelOptions]="{standalone: true}"
                                               autofocus
                                               id="products">
                                        <i class="fas fa-times cursor-pointer position-absolute icon-remove"
                                           *ngIf="group.valueSearch != ''"
                                           (click)="group._clear()"></i>
                                    </div>
                                    <div class="container-search">
                                        <div class="dropdown-item p-2 cursor-pointer"
                                             *ngFor="let item of data.group | servicePipeFilter : group.valueSearch : group.field"
                                             (click)="group._select(item)">
                                            <div style="line-height: 1;"
                                                 class="text-in-line">{{ item.name }}</div>
                                        </div>
                                    </div>
                                </div>
                                <small style="color:red"
                                       *ngIf="fm.get('page_id').invalid">{{'message.required'|translate}}</small>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mt-4">
                                <span class="d-inline-block mr-2 pt-3">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox"
                                               class="custom-control-input"
                                               formControlName="hot"
                                               name="hot"
                                               id="hot">
                                        <label class="custom-control-label"
                                               for="hot">{{'products.highlight'|translate}}</label>
                                    </div>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-12 pr-md-0">
                            <div class="form-group">
                                <label for="brand">{{ 'products.brand' | translate }}</label>
                                <select class="form-control"
                                        name="brand_id"
                                        formControlName="brand_id"
                                        id="brand">
                                    <option value="0">{{'products.chooseBrand'|translate}} </option>
                                    <option *ngFor="let item of data.brand"
                                            [value]="item.id"
                                            [disabled]="item.status == 0">{{item.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div class="form-group">
                                <label for="origin">{{ 'products.origin' | translate }}</label>
                                <select class="form-control"
                                        name="origin_id"
                                        formControlName="origin_id"
                                        id="origin">
                                    <option value="0">{{'products.chooseOrigin'|translate}} </option>
                                    <option *ngFor="let item of data.origin"
                                            [value]="item.id"
                                            [disabled]="item.status == 0">{{item.name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label id="info">{{'products.info' | translate }}</label>
                        <ckeditor name="info"
                                  [config]="globals.configCKeditor"
                                  formControlName="info"
                                  skin="moono-lisa"
                                  id="info"
                                  language="en">
                        </ckeditor>
                    </div>
                    <div class="form-group">
                        <label for="detail">{{'lblDetail' | translate }}</label>
                        <ckeditor id="detail"
                                  [config]="globals.configCKeditor"
                                  data="detail"
                                  formControlName="detail">
                        </ckeditor>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="float-left">
                <label class="lable-switch pull-left">
                    <div class="switch">
                        <input checked="checked"
                               formControlName="status"
                               type="checkbox"
                               name="status">
                        <span class="lever"></span>
                    </div>
                    <span ng-bind="lang.lbl_status_on"
                          class="ng-binding">{{ (fm.value.status == 1 ? 'status.on' :
                        'status.off') | translate }}</span>
                </label>
            </div>
            <div class="float-right">
                <button type="button"
                        [routerLink]="[(id && id !=0)?'../../get-list':'../get-list']"
                        class="btn btn-primary mr-2">{{'btn.back' | translate }} </button>
                <button (click)="onSubmit()"
                        [disabled]="!fm.valid || !flags"
                        class="btn btn-success"
                        type="button">
                    {{ 'btn.save' | translate }}
                </button>
            </div>
        </div>
    </div>
</form>



<!-- config Image -->
<div class="card mt-3">
    <div class="card-header text-white bg-primary">
        <strong class="mr-2">{{'products.settingsImages' | translate}}</strong>
        <small class="d-inline-block"> (.png / .jpg / size: 500px x 500px)</small>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-2 col-12 pr-md-0 text-center">
                <div class="form-group ">
                    <label for="image">{{ 'lblImages' | translate }} </label>
                    <div class="imagesThumb"
                         *ngIf="images">
                        <div *ngFor="let item of images.data ; let i = index">
                            <img [src]="item.src"
                                 *ngIf="item.type==0 || item.type==1" />
                            <span (click)="images._change($event,item)"
                                  *ngIf="item.type==0 || item.type==1"
                                  class="change">
                                <i class="far fa-image"></i>
                            </span>
                            <span (click)="images._del(i)"
                                  *ngIf="item.type==0 || item.type==1"
                                  class="del">
                                <i class="fas fa-times-circle"></i>
                            </span>
                            <span (click)="images._push($event)"
                                  *ngIf="item.type==2"
                                  class="add">
                                <i class="fa fa-plus"></i>
                            </span>
                        </div>
                        <input type="file"
                               (change)="images._onchange($event)"
                               id="image">
                    </div>

                </div>
            </div>
            <div class="col-md-10 col-12">
                <div class="form-group">
                    <label for="listimage">{{ 'products.listimages' | translate }}</label>
                    <div class="imagesThumb"
                         *ngIf="listimages">
                        <div *ngFor="let item of listimages.data ; let i = index">
                            <img [src]="item.src"
                                 *ngIf="item.type==0 || item.type==1" />
                            <span (click)="listimages._change($event,item)"
                                  *ngIf="item.type==0 || item.type==1"
                                  class="change">
                                <i class="far fa-image"></i>
                            </span>
                            <span (click)="listimages._del(i)"
                                  *ngIf="item.type==0 || item.type==1"
                                  class="del">
                                <i class="fas fa-times-circle"></i>
                            </span>
                            <span (click)="listimages._push($event)"
                                  *ngIf="item.type==2"
                                  class="add">
                                <i class="fa fa-plus"></i>
                            </span>
                        </div>
                        <input type="file"
                               (change)="listimages._onchange($event)"
                               id="listimage">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="float-md-right">
            <button (click)="productImages.process()"
                    [disabled]="id && id >0 ? false: true"
                    class="btn btn-success"
                    type="button">{{'btn.save'|translate}}</button>
        </div>
    </div>
</div>

<!-- config Price -->
<form [formGroup]="price"
      *ngIf="price"
      (submit)='$event.stopPropagation()'>
    <div class="card mt-3">
        <div class="card-header text-white bg-primary">
            <strong>{{'products.settingsPrice' | translate }}</strong>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="form-group">
                        <label for="price">{{'products.PromotionPrice' | translate }}</label>
                        <input name="price"
                               symbolNumber
                               formControlName="price"
                               class="form-control"
                               id="price" />
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="form-group">
                        <label for="price_sale">{{'products.PriceSaleProduct' | translate }}</label>
                        <input min="0"
                               symbolNumber
                               formControlName="price_sale"
                               name="price_sale"
                               id="price_sale"
                               class="form-control" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>{{'products.status' | translate }}</label>
                        <br />
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio"
                                   id="inventory_0"
                                   name="inventory"
                                   class="custom-control-input"
                                   formControlName="inventory"
                                   [value]="0">
                            <label class="custom-control-label"
                                   for="inventory_0"
                                   translate>status.outofstock</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio"
                                   id="inventory_1"
                                   name="inventory"
                                   class="custom-control-input"
                                   formControlName="inventory"
                                   [value]="1">
                            <label class="custom-control-label"
                                   for="inventory_1"
                                   translate>status.stocking</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 mb-3">
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio"
                               id="vatnull"
                               name="vat"
                               class="custom-control-input"
                               formControlName="vat"
                               [value]="0">
                        <label class="custom-control-label"
                               for="vatnull">{{'products.radNullVat' | translate }}</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio"
                               id="vatisset"
                               name="vat"
                               class="custom-control-input"
                               formControlName="vat"
                               [value]="1">
                        <label class="custom-control-label"
                               for="vatisset">{{'products.radIssetVat' |
                            translate}}</label>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="float-right">
                    <button (click)="updatePrice()"
                            [disabled]="id && id > 0 ? false : true "
                            class="btn btn-success"
                            type="button">{{'btn.save'|translate}}</button>
                </div>
            </div>
        </div>
    </div>
</form>
<div>
    <div class="card mt-3">
        <div class="card-header text-white bg-primary">
            <strong>Cấu hình giá theo thuộc tính</strong>
        </div>
        <div class="card-body">
            <div class="mt-3"
                 *ngIf="attribute.data && attribute.data.length >0">
                <div class="row">
                    <div class="col-md-5 pr-md-0">
                        <div class="bg-light p-2 h-100">
                            <div *ngFor="let attr of attribute.data; let i = index">
                                <div class="mb-3"
                                     *ngIf="attr.data && attr.data.length > 0">
                                    <label>{{attr.name}}</label>
                                    <div class="keywords">
                                        <button type="button"
                                                class="btn btn-info mr-1 mt-1"
                                                *ngFor="let rows of attr.data; let j = index"
                                                (click)="priceAttribute._push(rows)"
                                                [disabled]="priceAttribute._checkAttr(attr.id)">
                                            {{ rows.name }}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="bg-light mb-3 p-2"
                             *ngFor="let item of priceAttribute.data;let i = index; last as last">
                            <div class="d-flex align-items-center mb-3 justify-content-between">
                                <div>
                                    <span translate>products.priceAttribute</span><span>{{ i + 1 }}</span>
                                </div>
                                <div>
                                    <button class="btn btn-link btn-sm"
                                            *ngIf="i != priceAttribute.index "
                                            (click)="priceAttribute.index = i">
                                        <i class="fas fa-pencil-alt text-dark"></i>
                                    </button>
                                    <button class="btn btn-link btn-sm"
                                            (click)="priceAttribute._delete(item.id, i)">
                                        <i class="fas fa-trash text-danger"></i>
                                    </button>
                                    <button *ngIf="last"
                                            (click)="priceAttribute.add()"
                                            [disabled]="priceAttribute.flags"
                                            class="btn btn-link btn-sm"><i class="fas fa-plus-circle"></i></button>
                                </div>
                            </div>
                            <div class="text-center"
                                 *ngIf="!item.list || item.list.length  == 0">
                                <span translate>products.chooseAttrValue</span>
                            </div>
                            <div class="d-flex"
                                 *ngIf="item.list && item.list.length >0">
                                <div class="mr-2">
                                    <div class="form-group text-center">
                                        <div class="imagesThumb"
                                             *ngIf="item.images">
                                            <div *ngFor="let row of item.images.data ; let i = index">
                                                <img [src]="row.src"
                                                     *ngIf="row.type==0 || row.type==1" />
                                                <span (click)="item.images._change($event,row)"
                                                      *ngIf="row.type==0 || row.type==1"
                                                      class="change">
                                                    <i class="far fa-image"></i>
                                                </span>
                                                <span (click)="item.images._del(i)"
                                                      *ngIf="row.type==0 || row.type==1"
                                                      class="del">
                                                    <i class="fas fa-times-circle"></i>
                                                </span>
                                                <span (click)="item.images._push($event)"
                                                      *ngIf="row.type==2"
                                                      class="add">
                                                    <i class="fa fa-plus"></i>
                                                </span>
                                            </div>
                                            <input type="file"
                                                   (change)="item.images._onchange($event)"
                                                   id="image">
                                        </div>
                                        <label for="image"
                                               class="small">{{ 'lblImages' | translate }} </label>
                                    </div>
                                </div>
                                <div>
                                    <input name="price"
                                           symbolNumber
                                           [(ngModel)]="item.price"
                                           style="max-width: 200px;"
                                           [ngModelOptions]="{standalone: true}"
                                           class="form-control"
                                           id="price"
                                           [disabled]="i != priceAttribute.index"
                                           (keyup)="priceAttribute._onmouseout($event)" />
                                    <button type="button"
                                            class="btn  mr-1 my-2"
                                            [ngClass]="+rows.id && +rows.id >0 ? 'btn-success' :'btn-info'"
                                            *ngFor="let rows of item.list; let j = index">
                                        {{ rows.name }}
                                        <span class="fas fa-times-circle"
                                              *ngIf="i == priceAttribute.index"
                                              (click)="priceAttribute.remove(item,rows.parent_id,rows.id, j)"></span>
                                    </button>
                                </div>
                            </div>
                            <small style="color:red"
                                   *ngIf="priceAttribute.flags && priceAttribute.onmouseout && priceAttribute.index == i">
                                {{ 'message.checkConfigPrice' | translate: { number : i + 1 } }}</small>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="float-right">
                <button (click)="priceAttribute._onSubmit()"
                        [disabled]="!priceAttribute.flags && priceAttribute.submit_flags && id && id > 0 ? false : true "
                        class="btn btn-success"
                        type="button">{{'btn.save'|translate}}</button>
            </div>
        </div>
    </div>
</div>

<!-- config Device -->
<!-- <div class="card mt-3">
    <div class="card-header text-white bg-primary">
        <strong class="mr-2">{{'products.device' | translate}}</strong>
    </div>
    <div class="card-body">
        <ckeditor [config]="globals.configCKeditor"
                  [(ngModel)]="device.value"
                  skin="moono-lisa"
                  language="en">
        </ckeditor>
    </div>
    <div class="card-footer">
        <div class="float-md-right">
            <button (click)="device._submit()"
                    [disabled]="id && id > 0 ? false: true"
                    class="btn btn-success"
                    type="button">{{'btn.save'|translate}}</button>
        </div>
    </div>
</div> -->

<!-- config Seo -->
<form [formGroup]="seo"
      *ngIf="seo"
      (submit)='$event.stopPropagation()'>
    <div class="card mt-3">
        <div class="card-header text-white bg-primary">
            <strong>{{'settingsSeo' | translate}}</strong>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="form-group">
                        <label for="description">{{'lblDescription' | translate }}</label>
                        <textarea name="description"
                                  rows="8"
                                  id="description"
                                  formControlName="description"
                                  class="form-control"
                                  cols="100"></textarea>
                    </div>
                </div>
                <div class="col-xs-12 col-md-12">
                    <div class="form-group">
                        <label for="keywords">{{ 'lblKeyword' | translate }}</label>
                        <input type="text"
                               (keyup)="tags._keyup($event)"
                               class="form-control"
                               name="keywords"
                               placeholder="{{ 'placeholderKeyword' | translate }}"
                               id="keywords">
                        <div class="keywords mt-3"
                             *ngIf="tags.dataList">
                            <button type="button"
                                    class="btn btn-info mr-1 mt-1"
                                    *ngFor="let item of tags.dataList">{{item}}
                                <span class="fas fa-times-circle"
                                      (click)="tags._remove(item)"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="float-md-right">
                <button (click)="updateSeo()"
                        [disabled]="id && id >0 ? false: true"
                        class="btn btn-success"
                        type="button">{{'btn.save'|translate}}</button>
            </div>
        </div>
    </div>
</form>

<!-- config Document -->
<div class="card mt-3">
    <div class="card-header text-white bg-primary">
        <strong class="mr-2">{{'products.document' | translate}}</strong>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-6 border-right">
                <div class="p-3 bg-light">
                    <div class="position-relative d-flex align-items-center pb-2">
                        <div style="width: 90px;"
                             class="font-weight-500">{{ 'lblSearch' | translate }}:</div>
                        <input type="text"
                               class="form-control pr-4"
                               [(ngModel)]="document.search">
                        <div class="position-absolute"
                             style="top: 0;right: 10px;"
                             (click)="document.search = ''"
                             *ngIf="document.search != ''">
                            <button type="button"
                                    class="close"
                                    aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                    <div class="list-document">
                        <div *ngFor="let item of document.data | servicePipeFilter : document.search : document.field"
                             class="item border d-flex align-items-center justify-content-between"
                             (click)="document._add(item)">
                            <div class="mx-2 position-relative"
                                 style="width: 50px;"
                                 [ngClass]="{'d-none': item.sync }">
                                <i class="fas fa-sync text-danger"
                                   (click)="$event.stopPropagation(); document._sync(item, 'remove')"
                                   data-toggle="tooltip"
                                   [title]="'products.syncRemove' | translate"></i>
                            </div>
                            <div class="w-100 d-flex justify-content-between align-items-center">
                                <span> {{ item.name }}</span> <i class="fas fa-angle-right icon-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="p-3 bg-light">
                    <div class="d-flex align-items-center text-primary font-weight-500 pb-2"
                         style="height: 47px;">
                        {{ 'products.documentChoosed' | translate }} ({{ document.new.length }})</div>
                    <div class="list-document">
                        <div *ngFor="let item of document.new"
                             class="item d-flex align-items-center justify-content-between active-item"
                             (click)="document._remove(item)">
                            <div class="w-100 d-flex align-items-center">
                                <i class="fas fa-angle-left icon-right mr-3"></i><span> {{ item.name }}</span>
                            </div>
                            <div class="mx-2 position-relative">
                                <i class="fas fa-sync text-danger"
                                   (click)="$event.stopPropagation(); document._sync(item, 'add')"
                                   [ngStyle]="{'visibility': item.sync ? 'hidden' : 'visible' }"
                                   data-toggle="tooltip"
                                   [title]="'products.syncAdd' | translate"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="float-md-right">
            <button (click)="document._submit()"
                    [disabled]="id && id > 0 ? false: true"
                    class="btn btn-success"
                    type="button">{{'btn.save'|translate}}</button>
        </div>
    </div>
</div>