@import "src/style/mixins";

.box-login {
    border-radius: 5px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

    &-bg {
        height: 431px;
        background-size: cover !important;
    }

    &-title {
        margin-top: 25px;
        font-family: "Quicksand", sans-serif;
        background-image: linear-gradient(to right, #ef6a00, #f8f8fb);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &-description {
        margin-top: 0;
        @extend .box-login-title;
        max-width: calc(100% - 80px);

        @include viewport-sm {
            max-width: calc(100% - 50px);
        }
    }
}
