<div class="product"
     *ngIf="item">
    <h5 class="mb-3">{{ 'FECustomer.productsDetail' | translate }}</h5>
    <div class="p-3 bg-light">
        <div class="row">
            <div class="col-2">
                <img [src]="item.images"
                     [alt]="item.name"
                     width="100%"
                     height="100%" />
            </div>
            <div class="col-10">
                <div>{{ item.name }}</div>
                <div>{{ 'FECustomer.amount' | translate }}: {{ item.amount }}</div>
                <div>{{ 'FECustomer.price' | translate }}: {{ formatPrice(+item.price) }} đ</div>
            </div>
        </div>
    </div>
    <!-- Product Information -->
    <div style="min-height: 100px;">
        <h5 class="my-3">{{ 'FECustomer.guarantee' | translate }}</h5>
        <div [innerHTML]="item.guarantee | sanitizeHtml"
             class="mb-3"></div>
    </div>
    <!-- Guarantee Information -->

    <h5 class="mb-3">{{ 'FECustomer.document' | translate }}</h5>
    <table class="table table-hover cursor-pointer">
        <thead>
            <tr>
                <th *ngFor="let col of productDetail.cws.cols"
                    (click)="productDetail.cws._sorting(col.field)"
                    [ngClass]="{ 'sorting' : productDetail.cws.sorting.field == col.field, 'cursor-pointer': col.filter == true, 'd-none' : col.show == false }">
                    <div [(ngSwitch)]="col.field">
                        <span *ngSwitchDefault>
                            {{ col.title | translate }}
                        </span>
                        <i *ngIf="productDetail.cws.sorting.field == col.field"
                           class="fa"
                           [ngClass]="{ 'fa-long-arrow-down' : productDetail.cws.sorting.sort == 'asc', 'fa-long-arrow-up' : productDetail.cws.sorting.sort == 'desc' }"></i>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of productDetail.cws.data; let i = index">
                <td *ngFor="let col of productDetail.cws.cols">
                    <div [(ngSwitch)]="col.field">
                        <div *ngSwitchCase=" 'index' ">
                            {{ i + 1 }}
                        </div>
                        <div *ngSwitchCase=" 'name' ">
                            <a [routerLink]="[ '../../thong-tin-tai-lieu/', item.id ]">
                                {{ item[col.field] }}</a>
                        </div>
                        <div *ngSwitchCase=" 'action' ">
                            <!--
                                <i (click)="openModal(DevTemplate, item)"
                                class="fas fa-info-circle text-dark cursor-pointer"></i>
                            -->
                            <i [routerLink]="[ '../../thong-tin-tai-lieu/', item.id ]"
                               style="font-size: 18px;"
                               class="fas fa-arrow-circle-right text-dark cursor-pointer"></i>
                        </div>
                        <span *ngSwitchDefault>{{ item[col.field] }}</span>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <!-- Document List -->
</div>