.card {
    border: unset;

    &-header {
        @extend .card;
        padding: 0;
        background-color: unset;

        .btn {
            font-size: 20px;
            color: #212529;

            &-isClick {
                transition: 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
            }
        }
    }
}
