<div *ngIf="pageView == 1">
    <div class="py-md-5 py-4 bg-light">
        <div class="container-main">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="title-page d-md-flex justify-content-between align-items-center">
                            <h1 class="color">{{ data.name }}</h1>
                            <nav aria-label="breadcrumb"
                                 *ngIf="data.name && data.name.length > 0">
                                <ol class="breadcrumb bg-transparent border-0 m-0 p-0">
                                    <li class="breadcrumb-item"
                                        aria-current="page">
                                        <a [routerLink]="['/']">
                                            {{ "lblHome" | translate }}
                                        </a>
                                    </li>
                                    <li class="breadcrumb-item active"
                                        aria-current="page">
                                        <a [routerLink]="['/' + data.parent_link]"
                                           *ngIf="data.parent_link != null">
                                            {{ data.parent_name ? data.parent_name : data.name }}
                                        </a>
                                        <span *ngIf="data.parent_link == null">
                                            {{ data.parent_name ? data.parent_name : data.name }}
                                        </span>
                                    </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="data.type == 2">
        <div class="py-4 py-md-5">
            <div class="container-main">
                <div class="container-fluid">
                    <div class="overflow-hidden"
                         *ngIf="data.detail && data.detail.length > 0">
                        <div class="page-detail"
                             id="contentDetail"
                             [innerHTML]="data.detail | sanitizeHtml">
                        </div>
                    </div>
                    <div class="w-100 text-center"
                         *ngIf="!data.detail || data.detail.length == 0">
                        <h3 class="h5">{{'lblUpdating' | translate}} </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="data.type == 3">
        <app-product-list [link]="data.link"></app-product-list>
    </div>
    <div *ngIf="data.type == 4">
        <app-content-list [link]="data.link"></app-content-list>
    </div>
    <!-- // -->
    <div *ngIf="data.type == 6">
        <div class="container-main py-4 py-md-5">
            <div class="container-fluid">
                <div *ngIf="!data.service || data.service.length == 0">
                    <div class="page-detail"
                         id="contentDetail"
                         [innerHTML]="data.detail | sanitizeHtml">
                    </div>
                </div>
                <div class="row px-2 px-md-0"
                     *ngIf="data.service && data.service.length >0">
                    <div class="col-md-4 mb-4"
                         *ngFor="let item of data.service; index as i">
                        <app-box-service [item]="item"></app-box-service>
                    </div>
                    <div class="col-12">
                        <div class="w-100"
                             *ngIf="pagination.total > pagination.itemsPerPage">
                            <pagination class="d-flex justify-content-center my-3"
                                        [totalItems]="Pagination.total"
                                        previousText="{{ 'FEbtn.previous' | translate  }}"
                                        nextText="{{ 'FEbtn.next' | translate  }}"
                                        [itemsPerPage]="Pagination.itemsPerPage"
                                        [maxSize]="Pagination.maxSize"
                                        (pageChanged)="Pagination.changed($event)">
                            </pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="pageView == 0">
    <app-detail-product></app-detail-product>
</div>
<!-- // -->
<!-- <div class="container-main" *ngIf="data.related && data.related.length > 0">
    <div class="container-fluid">
        <hr class="my-0">

        <div class="row py-4">
            <div class="col-12 title d-block d-md-flex align-items-center justify-content-between">
                <h2 class="mb-0 font-weight-bold text-uppercase" id="dataRelated">
                    {{ 'FEService.relatedProduct' | translate}}
                </h2>
                <div class="input-group ml-auto mt-3 mt-md-0" style="max-width: 200px">
                    <input type="text" (keyup)="cwstable._search()" [(ngModel)]="cwstable.search.value"
                        class="form-control" placeholder="{{'FESearch.title'|translate}}">
                </div>
            </div>
        </div>
        <div class="row bg-white m-md-0 pb-4" *ngIf="cwstable.data && cwstable.data.length > 0">
            <div class="col-6 col-md-3 col-xl-2dot4 px-0" style="border: 2px solid #f8f9fa;"
                *ngFor="let item of cwstable.data">
                <app-box-product [item]="item"></app-box-product>
            </div>
            <div class="col-12 pt-4" *ngIf="cwstable.cached.length > Pagination.itemsPerPage">
                <pagination class="d-flex justify-content-end" [totalItems]="cwstable.cached.length"
                    [itemsPerPage]="Pagination.itemsPerPage" [maxSize]="Pagination.maxSize"
                    (pageChanged)="Pagination.change($event)" [rotate]="false" [directionLinks]="true"
                    firstText="&laquo;" lastText="&raquo;" [boundaryLinks]="true" previousText="&lsaquo;"
                    nextText="&rsaquo;">
                </pagination> 
            </div>
        </div>
        <div class="row bg-white m-md-0" *ngIf="!cwstable.data || cwstable.data.length == 0">
            <div class="col-md-12 text-center py-5">
                <div class="h5">{{'FEProduct.NotHaveProduct' | translate}}</div>
            </div>
        </div>
    </div>
</div> -->