.images {
    width: 80px;
    height: 80px;
}

.images img,
.images-order img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.name:hover {
    text-decoration: none;
    color: var(--color) !important;
    transition: 0.3s;
}

.content {
    width: calc(100% - 130px);
}

.description {
    width: 60%;
}

.price {
    font-size: 16px;
    color: var(--color);
}

.group-input {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
