.dropdown-item {
    font-size: 15px;
}

label {
    margin-bottom: 2px;
    font-size: 14px;
}

.document {
    border-top: 3px solid #49987b;
}

.document .list {
    max-height: 200px;
    overflow: auto;
}

.document .list .item {
    font-size: 14px;
}

.table-product th,
.table-product td {
    border-collapse: collapse;
}

.table-product th {
    background: #49987b;
    color: white;
    font-weight: 500;
    padding: 8px;
}

.table-product td {
    padding: 5px;
    border-bottom: 1px solid #ccc;
}

.text-underline:hover {
    text-decoration: underline;
}

.loader,
.loader:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}

.loader {
    margin: 0px auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid white;
    border-right: 1.1em solid white;
    border-bottom: 1.1em solid white;
    border-left: 1.1em solid #4d8aff;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}

@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.text-loading {
    margin-top: -60px;
}

.icon-remove {
    right: 10px;
    top: 10px;
}

.container-search {
    max-height: 250px;
    overflow: auto;
    overflow-x: hidden;
}

.text-in-line{
    width: 100%;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}