<div class="mt-5" *ngIf="loading">
    <div class="loader"></div>
    <div class="text-loading text-center font-weight-500">Đang tải</div>
</div>

<div class="row" *ngIf="!loading">
    <div class="col-9">
        <form [formGroup]="fmProduct" *ngIf="fmProduct">
            <div class="card w-100">
                <div class="card-header px-3 py-2 cursor-pointer justify-content-between d-flex align-items-center"
                    data-toggle="collapse" data-target="#collapseAddProduct" aria-expanded="false"
                    aria-controls="collapseAddProduct" (click)="product.open = !product.open">
                    <strong>{{ 'order.addProduct' | translate }}</strong>
                    <i class="fas " [ngClass]="{'fa-chevron-down': !product.open, 'fa-chevron-up': product.open}"></i>
                </div>
                <div class="card-body p-3 collapse show" id="collapseAddProduct">
                    <div class="row">
                        <div class="col-4 pr-0">
                            <div class="form-group">
                                <label for="products">{{ 'order.selectProduct' | translate }}</label>
                                <div data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                    class="cursor-pointer bg-light p-2 d-flex align-items-center justify-content-between border-bottom border-dark"
                                    (click)="product._focusSearch()">
                                    <div style="width: 95%;">
                                        <div *ngIf="product.name == ''">{{ 'lblSearch' | translate }}</div>
                                        <div *ngIf="product.name != ''" class="text-in-line">{{ product.name }}</div>
                                    </div>
                                    <span class="dropdown-toggle"></span>
                                </div>
                                <div class="dropdown-menu p-2 w-100">
                                    <div class="position-relative" (click)="$event.stopPropagation()">
                                        <input type="text" class="form-control mb-2" name="products" autocomplete="off"
                                            #inputSearchProduct [(ngModel)]="product.valueSearch"
                                            [ngModelOptions]="{standalone: true}" autofocus id="products"
                                            placeholder="{{ 'order.selectProduct' | translate }}">
                                        <i class="fas fa-times cursor-pointer position-absolute icon-remove"
                                            *ngIf="product.valueSearch != ''" (click)="product._clear()"></i>
                                    </div>
                                    <div class="container-search">
                                        <div class="dropdown-item p-2 cursor-pointer"
                                            *ngFor="let item of product.data | servicePipeFilter : product.valueSearch : product.field"
                                            (click)="product._select(item)">
                                            <div style="line-height: 1;" class="text-in-line">{{ item.name }}</div>
                                            <div class="text-in-line"><small class="text-black-50">{{ item.group_name
                                                    }}</small></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-2 pr-0">
                            <div class="form-group">
                                <label for="amount">{{ 'order.amount' | translate }}</label>
                                <input class="form-control" name="amount" symbolNumber formControlName="amount"
                                    id="amount" autocomplete="off">
                            </div>
                        </div>
                        <div class="col-3 pr-0">
                            <div class="form-group">
                                <label for="price">{{ 'order.price' | translate }}</label>
                                <input class="form-control" name="price" symbolNumber formControlName="price" id="price"
                                    autocomplete="off">
                            </div>
                        </div>
                        <div class="col-3">
                            <label for="service">{{ 'order.selectService' | translate }}</label>
                            <div data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="service"
                                class="cursor-pointer bg-light p-2 d-flex align-items-center justify-content-between border-bottom border-dark">
                                <div style="width: 95%;">
                                    <span *ngIf="service.name == ''">{{ 'order.selectService' | translate }}</span>
                                    <div *ngIf="service.name != ''" class="text-in-line">{{ service.name }}</div>
                                </div>
                                <span class="dropdown-toggle"></span>
                            </div>
                            <div class="dropdown-menu p-2 w-100">
                                <div class="dropdown-item p-2 cursor-pointer" (click)="service._select()">
                                    {{ 'order.selectService' | translate }}
                                </div>
                                <div class="dropdown-item p-2 cursor-pointer text-in-line"
                                    *ngFor="let item of service.data" (click)="service._select(item)">
                                    {{ item.name }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group bg-light p-2 document">
                        <div class="d-flex align-items-center justify-content-between mb-1">
                            <strong>{{ 'order.chooseDocument' | translate }}</strong>
                            <input type="text" class="form-control w-25" name="document" autocomplete="off"
                                [(ngModel)]="document.valueSearch" [ngModelOptions]="{standalone: true}"
                                placeholder="{{ 'lblSearch' | translate }}">
                        </div>
                        <div class="list">
                            <div class="m-auto row w-100">
                                <div class="col-md-4 p-1"
                                    *ngFor="let item of document.data | servicePipeFilter : document.valueSearch : document.field">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" [id]="item.id"
                                            [checked]="item.checked" (change)="item.checked = $event.target.checked">
                                        <label class="custom-control-label cursor-pointer item" [for]="item.id">
                                            {{ item.name }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <textarea formControlName="guarantee" class="form-control" id="guarantee" rows="3"
                            placeholder="{{'order.guarantee' | translate}}"></textarea>
                    </div>

                    <div class="alert alert-warning p-2" role="alert"
                        *ngIf="fmProduct.value.product_id > 0 && fmProduct.value.price == 0">
                        <strong>{{ 'order.note' | translate }}:</strong>
                        {{ 'order.noConfigPrice' | translate }}
                    </div>

                    <div class="alert alert-info p-2" role="alert" *ngIf="product.item">
                        <span>{{ 'order.price' | translate }}: <strong>{{ (+product.item.price).toLocaleString('vi')
                                }}</strong></span>
                        <span *ngIf="+product.item.price_sale > 0"> - {{ 'order.price_sale' | translate }}: <strong>{{
                                (+product.item.price_sale).toLocaleString('vi') }} ({{ product.item.percent
                                }}%)</strong></span>
                        <div>{{ 'order.inventory' | translate }}: <strong>{{ product.item.inventory }}</strong></div>
                    </div>

                    <button type="button" [disabled]="!fmProduct.valid" class="btn btn-primary float-right"
                        style="font-size: 14px;" (click)="product._add()">
                        {{'btn.add' | translate }}
                    </button>
                </div>
            </div>
        </form>

        <div class="card mt-3">
            <div class="card-header px-3 py-2">
                <strong>{{ 'order.listProductChoosed' | translate }}</strong>
            </div>
            <div class="card-body p-0">
                <table class="table-product w-100">
                    <thead>
                        <tr>
                            <th *ngFor="let col of listProduct.cols">
                                <div [(ngSwitch)]="col.field">
                                    <div *ngSwitchCase="'index'" class="text-center">{{ col.title | translate }}</div>
                                    <div *ngSwitchCase="'amount'" class="text-center">{{ col.title | translate }} </div>
                                    <span *ngSwitchDefault>{{ col.title | translate }}</span>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of listProduct.data; let i= index">
                            <td *ngFor="let col of listProduct.cols">
                                <div [(ngSwitch)]="col.field">
                                    <div *ngSwitchCase="'index'" class="text-center">{{ i + 1 }}</div>
                                    <div *ngSwitchCase="'name'" style="max-width: 200px;">
                                        <div>{{item[col.field]}}</div>
                                        <div *ngIf="item.service_name && item.service_name != ''">{{ 'order.service' |
                                            translate }}{{ item.service_name }}</div>
                                        <div *ngIf="item.attribute && item.attribute.length > 0">
                                            <span class="small mr-3" *ngFor="let attribute of item.attribute">
                                                {{attribute.parent_name}}: {{
                                                attribute.name }}</span>
                                        </div>
                                        <small class="text-black-50 text-underline cursor-pointer"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            {{ 'order.attachmentDocument' | translate }}
                                            ({{ item.count_document }})
                                        </small>
                                        <div class="dropdown-menu p-2" (click)="$event.stopPropagation()">
                                            <div class="dropdown-item px-2 cursor-pointer"
                                                *ngFor="let row of item.document_customer; let j = index">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input"
                                                        [id]="'document' + i + row.id" [checked]="+row.checked == 1"
                                                        (change)="row.checked = $event.target.checked ? 1 : 0">
                                                    <label class="custom-control-label cursor-pointer item w-100"
                                                        [for]="'document' + i + row.id">
                                                        {{ j + 1 }}. {{ row.name }}
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="dropdown-item p-2 text-danger"
                                                *ngIf="item.document_customer.length == 0">
                                                {{ 'products.notFoundDocument' | translate }}
                                            </div>
                                            <button class="btn btn-outline-success btn-sm  float-right"
                                                *ngIf="item.document_customer.length > 0"
                                                (click)="$event.stopPropagation();document._save(item.document_customer, item.order_detail_id) ">
                                                <i class="fas fa-save"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div *ngSwitchCase="'guarantee'" class="text-center">
                                        <textarea [(ngModel)]="item.guarantee" id="guarantee" rows="4"></textarea>
                                    </div>
                                    <div *ngSwitchCase="'amount'" class="text-center">
                                        {{ formatPrice(item[col.field]) }}
                                    </div>
                                    <div *ngSwitchCase="'price'">
                                        {{ formatPrice(item[col.field]) }}
                                    </div>
                                    <div *ngSwitchCase="'total'">
                                        {{ formatPrice(item[col.field]) }}
                                    </div>
                                    <span *ngSwitchCase="'action'" class='display-action text-right'>
                                        <button class="btn btn-link btn-sm  " (click)="listProduct._remove(item, i)"
                                            *ngIf="status.value != 2">
                                            <i class="fas fa-trash text-danger"></i>
                                        </button>
                                    </span>
                                    <span *ngSwitchDefault>{{item[col.field]}}</span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-3 pl-0">
        <form [formGroup]="fmInfo" *ngIf="fmInfo">
            <div class="card w-100">
                <div class="card-header px-3 py-2">
                    <strong>{{ 'order.info' | translate }}</strong>
                </div>
                <div class="card-body p-0">
                    <div class="m-3">
                        <div class="alert alert-info p-2" role="alert">
                            {{ 'order.code' | translate }}:
                            <strong>{{ id == 0 ? 'XXXXXXXXXX' : fmInfo.value.code }}</strong>
                        </div>
                    </div>

                    <div class="px-3 py-2 bg-light">
                        <label for="customer" class="d-flex align-items-center justify-content-between m-0">
                            {{ 'order.selectCustomer' | translate }}
                            <div class="text-primary cursor-pointer text-underline" (click)="customer._add()">
                                <small class="font-weight-500"><i class="fas fa-plus"></i>
                                    {{ 'btn.add' | translate }}</small>
                            </div>
                        </label>
                    </div>

                    <div class="px-3 bg-light pb-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <div class="cursor-pointer d-flex align-items-center justify-content-between border-dark border-bottom pb-1"
                            (click)="customer._focusSearch()">
                            <div class="font-weight-bold" style="width: 95%;">
                                <div *ngIf="!fmInfo.value.customer_id">{{ 'lblSearch' | translate }}</div>
                                <div class="text-in-line"><strong *ngIf="fmInfo.value.customer_id > 0">{{
                                        customer.item.name }}</strong></div>
                            </div>
                            <span class="dropdown-toggle"></span>
                        </div>
                        <div class="dropdown-menu p-2 w-100">
                            <div class="position-relative" (click)="$event.stopPropagation()">
                                <input type="text" class="form-control mb-2" name="customer_id"
                                    [(ngModel)]="customer.valueSearch" [ngModelOptions]="{standalone: true}"
                                    autocomplete="off" id="customer" #inputSearchCustomer
                                    placeholder="{{ 'order.selectCustomer' | translate }}">
                                <i class="fas fa-times cursor-pointer position-absolute icon-remove"
                                    *ngIf="customer.valueSearch != ''" (click)="customer._clear()"></i>
                            </div>
                            <div class="container-search">
                                <div class="dropdown-item p-2 cursor-pointer"
                                    *ngFor="let item of customer.data  | servicePipeFilter : customer.valueSearch : customer.field"
                                    (click)="customer._select(item)">
                                    <div style="line-height: 1;" class="text-in-line">{{ item.name }}</div>
                                    <div class="text-in-line">
                                        <small class="text-black-50">{{ 'lblPhone' | translate }}:
                                            {{ item.phone }}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="customer.item" class="bg-light pb-2 px-3">
                        <div class="mb-1"><small>{{ 'lblEmail' | translate }}:</small>{{ customer.item.email }}
                        </div>
                        <div class="mb-1"><small>{{ 'lblPhone' | translate }}:</small>{{ customer.item.phone }}
                        </div>
                        <div><small>{{ 'order.address' | translate }}:</small>{{ customer.item.address }}</div>
                    </div>
                    <div class="px-3 py-2 bg-light my-3">
                        <div class="mb-2"><strong>{{ 'order.receiver' | translate }}</strong></div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="phone" formControlName="phone" id="phone"
                                autocomplete="off" placeholder="{{ 'lblPhone'  | translate }}">
                            <small *ngIf="!fmInfo.get('phone').valid && fmInfo.get('phone').touched"
                                style="color:red">{{'message.phone' | translate}}</small>
                        </div>
                        <textarea formControlName="delivery_address" class="form-control" id="delivery_address" rows="2"
                            autocomplete="off" placeholder="{{ 'order.delivery_address' | translate }}"></textarea>
                    </div>
                    <div class="m-3">
                        <div class="alert alert-success p-2" role="alert">
                            {{ 'order.total' | translate }}:
                            <strong>
                                {{ formatPrice(fmInfo.value.price_total) }}
                            </strong>
                        </div>
                        <textarea formControlName="note" class="form-control" id="note" rows="2"
                            placeholder="{{'lblNote' | translate}}"></textarea>
                    </div>
                    <div class="form-group mt-3">
                        <div data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            class="cursor-pointer bg-light px-3 py-2 d-flex justify-content-between align-items-center">
                            <div>
                                {{ 'status.title' | translate }}:
                                <strong class="ml-1">{{ status.title | translate }}</strong>
                            </div>
                            <span class="dropdown-toggle ml-2"></span>
                        </div>
                        <div class="dropdown-menu p-2 w-100">
                            <div class="dropdown-item p-2 cursor-pointer" *ngFor="let item of status.data"
                                (click)="status._select(item)">
                                {{ item.title | translate }}
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between m-3">
                        <button type="button" class="btn btn-secondary"
                            [routerLink]="[(id && id !=0)?'../../get-list':'../get-list']">
                            {{'btn.back' | translate }}</button>

                        <button type="button" class="btn btn-success" [disabled]="!fmInfo.valid" (click)="onSubmit()"
                            *ngIf="status.value != 2">
                            {{'btn.save' | translate }}</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>